button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}
button[disabled],
html input[disabled] {
    cursor: default
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    box-sizing: border-box
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
/*table {
    border-collapse: collapse;
    border-spacing: 0
}*/
@media print {
    * {
        color: #000!important;
        text-shadow: none!important;
        background: transparent!important;
        box-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href)")"
    }
    abbr[title]:after {
        content: " (" attr(title)")"
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    @page{margin:2cm .5cm
}
/*p,
h2,
h3 {
    orphans: 3;
    widows: 3
}
h2,
h3 {
    page-break-after: avoid
}*/
select {
    background: #fff!important
}
.navbar {
    display: none;
}
.table td,
.table th {
    background-color: #fff!important
}
.btn>.caret,
.dropup>.btn>.caret {
    border-top-color: #000!important
}
.label {
    border: 1px solid #000
}
.table {
    border-collapse: collapse!important
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd!important
}
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4
}
@media(min-width:768px){
    .lead {
    font-size: 21px
}
}
@media(min-width:768px){.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap
}
.dl-horizontal dd {
    margin-left: 180px
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
    display: table;
    content: ""
}
.dl-horizontal dd:after {
    clear: both
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
    display: table;
    content: ""
}
.dl-horizontal dd:after {
    clear: both
}
}
abbr[title],
abbr[data-original-title] {
    cursor:help;
    border-bottom:1px dotted #999
}
abbr.initialism {
    font-size:90%;
    text-transform:uppercase
}
/*blockquote {
    padding:10px 20px;
    margin:0 0 20px;
    border-left:5px solid #eee
}
blockquote p {
    font-size:17.5px;
    font-weight:300;
    line-height:1.25
}
blockquote p:last-child {
    margin-bottom:0
}
blockquote small {
    display:block;
    line-height:1.428571429;
    color:#999
}
blockquote small:before {
    content:'\2014 \00A0'
}
blockquote.pull-right {
    padding-right:15px;
    padding-left:0;
    border-right:5px solid #eee;
    border-left:0
}
blockquote.pull-right p,
blockquote.pull-right small,
blockquote.pull-right .small {
    text-align:right
}
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
    content:''
}
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
    content:'\00A0 \2014'
}
blockquote:before,
blockquote:after {
    content:""
}*/
address {
    margin-bottom:20px;
    font-style:normal;
    line-height:1.428571429
}
code,
kbd,
pre,
samp {
    font-family:Monaco,
    Menlo,
    Consolas,
    "Courier New",
    monospace
}
code {
    padding:2px 4px;
    font-size:90%;
    color:#c7254e;
    white-space:nowrap;
    background-color:#f9f2f4;
    border-radius:4px
}
pre {
    display:block;
    padding:9.5px;
    margin:0 0 10px;
    font-size:13px;
    line-height:1.428571429;
    color:#333;
    word-break:break-all;
    word-wrap:break-word;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border-radius:4px
}
pre code {
    padding:0;
    font-size:inherit;
    color:inherit;
    white-space:pre-wrap;
    background-color:transparent;
    border-radius:0
}
.pre-scrollable {
    max-height:340px;
    overflow-y:scroll
}
.container {
    padding-right:0px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto
}
.container:before,
.container:after {
    display:table;
    content:""
}
.container:after {
    clear:both
}
.container:before,
.container:after {
    display:table;
    content:""
}
.container:after {
    clear:both
}
.row {
    margin-right:-15px;
    margin-left:-15px;
	margin-top: -10px;
}
.row:before,
.row:after {
    display:table;
    content:""
}
.row:after {
    clear:both
}
.row:before,
.row:after {
    display:table;
    content:""
}
.row:after {
    clear:both
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    float:left
}
.col-xs-12 {
    width:100%
}
.col-xs-11 {
    width: 91.66666666666666%
}
.col-xs-10 {
    width: 83.33333333333334%
}
.col-xs-9 {
    width: 75%
}
.col-xs-8 {
    width: 66.66666666666666%
}
.col-xs-7 {
    width: 58.333333333333336%
}
.col-xs-6 {
    width: 50%
}
.col-xs-5 {
    width: 41.66666666666667%
}
.col-xs-4 {
    width: 33.33333333333333%
}
.col-xs-3 {
    width: 25%
}
.col-xs-2 {
    width: 16.666666666666664%
}
.col-xs-1 {
    width: 8.333333333333332%
}
.col-xs-pull-12 {
    right: 100%
}
.col-xs-pull-11 {
    right: 91.66666666666666%
}
.col-xs-pull-10 {
    right: 83.33333333333334%
}
.col-xs-pull-9 {
    right: 75%
}
.col-xs-pull-8 {
    right: 66.66666666666666%
}
.col-xs-pull-7 {
    right: 58.333333333333336%
}
.col-xs-pull-6 {
    right: 50%
}
.col-xs-pull-5 {
    right: 41.66666666666667%
}
.col-xs-pull-4 {
    right: 33.33333333333333%
}
.col-xs-pull-3 {
    right: 25%
}
.col-xs-pull-2 {
    right: 16.666666666666664%
}
.col-xs-pull-1 {
    right: 8.333333333333332%
}
.col-xs-pull-0 {
    right: 0
}
.col-xs-push-12 {
    left: 100%
}
.col-xs-push-11 {
    left: 91.66666666666666%
}
.col-xs-push-10 {
    left: 83.33333333333334%
}
.col-xs-push-9 {
    left: 75%
}
.col-xs-push-8 {
    left: 66.66666666666666%
}
.col-xs-push-7 {
    left: 58.333333333333336%
}
.col-xs-push-6 {
    left: 50%
}
.col-xs-push-5 {
    left: 41.66666666666667%
}
.col-xs-push-4 {
    left: 33.33333333333333%
}
.col-xs-push-3 {
    left: 25%
}
.col-xs-push-2 {
    left: 16.666666666666664%
}
.col-xs-push-1 {
    left: 8.333333333333332%
}
.col-xs-push-0 {
    left: 0
}
.col-xs-offset-12 {
    margin-left: 100%
}
.col-xs-offset-11 {
    margin-left: 91.66666666666666%
}
.col-xs-offset-10 {
    margin-left: 83.33333333333334%
}
.col-xs-offset-9 {
    margin-left: 75%
}
.col-xs-offset-8 {
    margin-left: 66.66666666666666%
}
.col-xs-offset-7 {
    margin-left: 58.333333333333336%
}
.col-xs-offset-6 {
    margin-left: 50%
}
.col-xs-offset-5 {
    margin-left: 41.66666666666667%
}
.col-xs-offset-4 {
    margin-left: 33.33333333333333%
}
.col-xs-offset-3 {
    margin-left: 25%
}
.col-xs-offset-2 {
    margin-left: 16.666666666666664%
}
.col-xs-offset-1 {
    margin-left: 8.333333333333332%
}
.col-xs-offset-0 {
    margin-left: 0
}
@media(min-width:1000px){.container{width:750px}.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666666666666%}.col-sm-10{width:83.33333333333334%}.col-sm-9{width:75%}.col-sm-8{width:66.66666666666666%}.col-sm-7{width:58.333333333333336%}.col-sm-6{width:50%}.col-sm-5{width:41.66666666666667%}.col-sm-4{width:33.33333333333333%}.col-sm-3{width:25%}.col-sm-2{width:16.666666666666664%}.col-sm-1{width:8.333333333333332%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666666666666%}.col-sm-pull-10{right:83.33333333333334%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666666666666%}.col-sm-pull-7{right:58.333333333333336%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666666666667%}.col-sm-pull-4{right:33.33333333333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.666666666666664%}.col-sm-pull-1{right:8.333333333333332%}.col-sm-pull-0{right:0}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666666666666%}.col-sm-push-10{left:83.33333333333334%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666666666666%}.col-sm-push-7{left:58.333333333333336%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666666666667%}.col-sm-push-4{left:33.33333333333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.666666666666664%}.col-sm-push-1{left:8.333333333333332%}.col-sm-push-0{left:0}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666666666666%}.col-sm-offset-10{margin-left:83.33333333333334%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666666666666%}.col-sm-offset-7{margin-left:58.333333333333336%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666666666667%}.col-sm-offset-4{margin-left:33.33333333333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.666666666666664%}.col-sm-offset-1{margin-left:8.333333333333332%}.col-sm-offset-0{margin-left:0}}@media(min-width:992px){.container{width:970px}.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666666666666%}.col-md-10{width:83.33333333333334%}.col-md-9{width:75%}.col-md-8{width:66.66666666666666%}.col-md-7{width:58.333333333333336%}.col-md-6{width:50%}.col-md-5{width:41.66666666666667%}.col-md-4{width:33.33333333333333%}.col-md-3{width:25%}.col-md-2{width:16.666666666666664%}.col-md-1{width:8.333333333333332%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666666666666%}.col-md-pull-10{right:83.33333333333334%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666666666666%}.col-md-pull-7{right:58.333333333333336%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666666666667%}.col-md-pull-4{right:33.33333333333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.666666666666664%}.col-md-pull-1{right:8.333333333333332%}.col-md-pull-0{right:0}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666666666666%}.col-md-push-10{left:83.33333333333334%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666666666666%}.col-md-push-7{left:58.333333333333336%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666666666667%}.col-md-push-4{left:33.33333333333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.666666666666664%}.col-md-push-1{left:8.333333333333332%}.col-md-push-0{left:0}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666666666666%}.col-md-offset-10{margin-left:83.33333333333334%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666666666666%}.col-md-offset-7{margin-left:58.333333333333336%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666666666667%}.col-md-offset-4{margin-left:33.33333333333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.666666666666664%}.col-md-offset-1{margin-left:8.333333333333332%}.col-md-offset-0{margin-left:0}}@media(min-width:1200px){.container{width:1170px}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666666666666%}.col-lg-10{width:83.33333333333334%}.col-lg-9{width:75%}.col-lg-8{width:66.66666666666666%}.col-lg-7{width:58.333333333333336%}.col-lg-6{width:50%}.col-lg-5{width:41.66666666666667%}.col-lg-4{width:33.33333333333333%}.col-lg-3{width:25%}.col-lg-2{width:16.666666666666664%}.col-lg-1{width:8.333333333333332%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666666666666%}.col-lg-pull-10{right:83.33333333333334%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666666666666%}.col-lg-pull-7{right:58.333333333333336%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666666666667%}.col-lg-pull-4{right:33.33333333333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.666666666666664%}.col-lg-pull-1{right:8.333333333333332%}.col-lg-pull-0{right:0}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666666666666%}.col-lg-push-10{left:83.33333333333334%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666666666666%}.col-lg-push-7{left:58.333333333333336%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666666666667%}.col-lg-push-4{left:33.33333333333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.666666666666664%}.col-lg-push-1{left:8.333333333333332%}.col-lg-push-0{left:0}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666666666666%}.col-lg-offset-10{margin-left:83.33333333333334%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666666666666%}.col-lg-offset-7{margin-left:58.333333333333336%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666666666667%}.col-lg-offset-4{margin-left:33.33333333333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.666666666666664%}.col-lg-offset-1{margin-left:8.333333333333332%}.col-lg-offset-0{margin-left:0}} /*table{max-width:100%;background-color:transparent}th{text-align:left}*/
    .table {
    width: 100%;
    margin-bottom: 20px
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0
}
.table>tbody+tbody {
    border-top: 2px solid #ddd
}
.table .table {
    background-color: #fff
}
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px
}
.table-bordered {
    border: 1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #f5f5f5
}
table col[class*="col-"] {
    display: table-column;
    float: none
}
table td[class*="col-"],
table th[class*="col-"] {
    display: table-cell;
    float: none
}
.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    background-color: #f5f5f5
}
.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #dff0d8
}
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover,
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6
}
.table>thead>tr>td.danger,
.table>tbody>tr>td.danger,
.table>tfoot>tr>td.danger,
.table>thead>tr>th.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>tbody>tr.danger>td,
.table>tfoot>tr.danger>td,
.table>thead>tr.danger>th,
.table>tbody>tr.danger>th,
.table>tfoot>tr.danger>th {
    background-color: #f2dede
}
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover,
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th {
    background-color: #ebcccc
}
.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td,
.table>thead>tr.warning>th,
.table>tbody>tr.warning>th,
.table>tfoot>tr.warning>th {
    background-color: #fcf8e3
}
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc
}
@media(max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-x:scroll;overflow-y:hidden;border:1px solid #ddd;
-ms-overflow-style:-ms-autohiding-scrollbar;
-webkit-overflow-scrolling:touch
}
.table-responsive>.table {
    margin-bottom: 0
}
.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap
}
.table-responsive>.table-bordered {
    border: 0
}
.table-responsive>.table-bordered>thead>tr>th:first-child,
.table-responsive>.table-bordered>tbody>tr>th:first-child,
.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.table-responsive>.table-bordered>thead>tr>td:first-child,
.table-responsive>.table-bordered>tbody>tr>td:first-child,
.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0
}
.table-responsive>.table-bordered>thead>tr>th:last-child,
.table-responsive>.table-bordered>tbody>tr>th:last-child,
.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.table-responsive>.table-bordered>thead>tr>td:last-child,
.table-responsive>.table-bordered>tbody>tr>td:last-child,
.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0
}
.table-responsive>.table-bordered>tbody>tr:last-child>th,
.table-responsive>.table-bordered>tfoot>tr:last-child>th,
.table-responsive>.table-bordered>tbody>tr:last-child>td,
.table-responsive>.table-bordered>tfoot>tr:last-child>td {
    border-bottom: 0
}
}
fieldset {
    padding:0;
    margin:0;
    border:0
}
legend {
    display:block;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-size:21px;
    line-height:inherit;
    color:#333;
    border:0;
    border-bottom:1px solid #e5e5e5
}
label {
    display:inline-block;
    margin-bottom:5px;
    font-weight:bold
}
input[type="search"] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
input[type="radio"],
input[type="checkbox"] {
    margin:4px 0 0;
    margin-top:1px \9;
    line-height:normal
}
input[type="file"] {
    display:block
}
select[multiple],
select[size] {
    height:auto
}
select optgroup {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height:auto
}
output {
    display:block;
    padding-top:7px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle
}
.form-control {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    -webkit-transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s
}
.form-control:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 8px rgba(102,
    175,
    233,
    0.6);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 8px rgba(102,
    175,
    233,
    0.6)
}
.form-control:-moz-placeholder {
    color:#999
}
.form-control::-moz-placeholder {
    color:#999
}
.form-control:-ms-input-placeholder {
    color:#999
}
.form-control::-webkit-input-placeholder {
    color:#999
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor:not-allowed;
    background-color:#eee
}
textarea.form-control {
    height:auto
}
.form-group {
    margin-bottom:15px
}
.radio,
.checkbox {
    display:block;
    min-height:20px;
    padding-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    vertical-align:middle
}
.radio label,
.checkbox label {
    display:inline;
    margin-bottom:0;
    font-weight:normal;
    cursor:pointer
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float:left;
    margin-left:-20px
}
.radio+.radio,
.checkbox+.checkbox {
    margin-top:-5px
}
.radio-inline,
.checkbox-inline {
    display:inline-block;
    padding-left:20px;
    margin-bottom:0;
    font-weight:normal;
    vertical-align:middle;
    cursor:pointer
}
.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top:0;
    margin-left:10px
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
    cursor:not-allowed
}
.input-sm {
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
select.input-sm {
    height:30px;
    line-height:30px
}
textarea.input-sm {
    height:auto
}
.input-lg {
    height:45px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}
select.input-lg {
    height:45px;
    line-height:45px
}
textarea.input-lg {
    height:auto
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color:#c09853
}
.has-warning .form-control {
    border-color:#c09853;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075)
}
.has-warning .form-control:focus {
    border-color:#a47e3c;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #dbc59e;
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #dbc59e
}
.has-warning .input-group-addon {
    color:#c09853;
    background-color:#fcf8e3;
    border-color:#c09853
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color:#b94a48
}
.has-error .form-control {
    border-color:#b94a48;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075)
}
.has-error .form-control:focus {
    border-color:#953b39;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #d59392;
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #d59392
}
.has-error .input-group-addon {
    color:#b94a48;
    background-color:#f2dede;
    border-color:#b94a48
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color:#468847
}
.has-success .form-control {
    border-color:#468847;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075)
}
.has-success .form-control:focus {
    border-color:#356635;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #7aba7b;
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 6px #7aba7b
}
.has-success .input-group-addon {
    color:#468847;
    background-color:#dff0d8;
    border-color:#468847
}
.form-control-static {
    margin-bottom:0
}
.help-block {
    display:block;
    margin-top:5px;
    margin-bottom:10px;
    color:#737373
}
@media(min-width:768px){.form-inline .form-group {
    display:inline-block;
    margin-bottom:0;
    vertical-align:middle
}
.form-inline .form-control {
    display:inline-block
}
.form-inline .radio,
.form-inline .checkbox {
    display:inline-block;
    padding-left:0;
    margin-top:0;
    margin-bottom:0
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float:none;
    margin-left:0
}
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top:7px;
    margin-top:0;
    margin-bottom:0
}
.form-horizontal .form-group {
    margin-right:-15px;
    margin-left:-15px
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display:table;
    content:""
}
.form-horizontal .form-group:after {
    clear:both
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display:table;
    content:""
}
.form-horizontal .form-group:after {
    clear:both
}
.form-horizontal .form-control-static {
    padding-top:7px
}
@media(min-width:768px){.form-horizontal .control-label {
    text-align:right
}
}
.btn {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:normal;
    line-height:1.428571429;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
        min-width:80px;
}
.btn:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn:hover,
.btn:focus {
    color:#333;
    text-decoration:none
}
.btn:active,
.btn.active {
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,
    0,
    0,
    0.125);
    box-shadow:inset 0 3px 5px rgba(0,
    0,
    0,
    0.125)
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events:none;
    cursor:not-allowed;
    opacity:.65;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-default {
    color:#333;
    background-color:#fff;
    border-color:#ccc
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color:#333;
    background-color:#ebebeb;
    border-color:#adadad
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image:none
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color:#fff;
    border-color:#ccc
}
.btn-primary {
    color:#fff;
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color:#fff;
    background-color:#3276b1;
    border-color:#285e8e
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image:none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color:#428bca;
    border-color:#357ebd
}
.btn-warning {
    color:#fff;
    background-color:#f0ad4e;
    border-color:#eea236
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color:#fff;
    background-color:#ed9c28;
    border-color:#d58512
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image:none
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color:#f0ad4e;
    border-color:#eea236
}
.btn-danger {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color:#fff;
    background-color:#d2322d;
    border-color:#ac2925
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image:none
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color:#d9534f;
    border-color:#d43f3a
}
.btn-success {
    color:#fff;
    background-color:#5cb85c;
    border-color:#4cae4c
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color:#fff;
    background-color:#47a447;
    border-color:#398439
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image:none
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color:#5cb85c;
    border-color:#4cae4c
}
.btn-info {
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color:#fff;
    background-color:#39b3d7;
    border-color:#269abc
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image:none
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color:#5bc0de;
    border-color:#46b8da
}
.btn-link {
    font-weight:normal;
    color:#428bca;
    cursor:pointer;
    border-radius:0
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color:transparent
}
.btn-link:hover,
.btn-link:focus {
    color:#2a6496;
    text-decoration:underline;
    background-color:transparent
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color:#999;
    text-decoration:none
}
.btn-lg {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}
.btn-sm,
.btn-xs {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-xs {
    padding:1px 5px
}
.btn-block {
    display:block;
    width:100%;
    padding-right:0;
    padding-left:0
}
.btn-block+.btn-block {
    margin-top:5px
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width:100%
}
.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    transition:opacity .15s linear
}
.fade.in {
    opacity:1
}
.collapse {
    display:none
}
.collapse.in {
    display:block
}
.collapsing {
    position:relative;
    height:0;
    overflow:hidden;
    -webkit-transition:height .35s ease;
    transition:height .35s ease
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent
}
.dropdown {
    position: relative
}
.dropdown-toggle:focus {
    outline: 0
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 13px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.menu_main2 .dropdown-menu.pull-right {
    left: 0;
    right: auto
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #272727;
    white-space: nowrap;
	transition: all 0.3s ease;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #454545;
    text-decoration: none;
    background-color: #f9f9f9;
	-webkit-transition: background-color .3s, -webkit-transform .3s;
    transition: background-color .3s, transform .3s;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0
}
.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #999
}
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}
.open>.dropdown-menu {
    display: block
}
.open>a {
    outline: 0
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #999
}
.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0 dotted;
    border-bottom: 4px solid #000;
    content: ""
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}
@media(min-width:1000px){.navbar-right .dropdown-menu {
    right: 0;
    left: auto
}
}
.btn-default .caret {
    border-top-color: #333
}
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
    border-top-color: #fff
}
.dropup .btn-default .caret {
    border-bottom-color: #333
}
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
    border-bottom-color: #fff
}
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}
.btn-group>.btn,
.btn-group-vertical>.btn {
    position: relative;
    float: left
}
.btn-group>.btn:hover,
.btn-group-vertical>.btn:hover,
.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus,
.btn-group>.btn:active,
.btn-group-vertical>.btn:active,
.btn-group>.btn.active,
.btn-group-vertical>.btn.active {
    z-index: 2
}
.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus {
    outline: 0
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px
}
.btn-toolbar:before,
.btn-toolbar:after {
    display: table;
    content: ""
}
.btn-toolbar:after {
    clear: both
}
.btn-toolbar:before,
.btn-toolbar:after {
    display: table;
    content: ""
}
.btn-toolbar:after {
    clear: both
}
.btn-toolbar .btn-group {
    float: left
}
.btn-toolbar>.btn+.btn,
.btn-toolbar>.btn-group+.btn,
.btn-toolbar>.btn+.btn-group,
.btn-toolbar>.btn-group+.btn-group {
    margin-left: 5px
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0
}
.btn-group>.btn:first-child {
    margin-left: 0
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.btn-group>.btn-group {
    float: left
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0
}
.btn-group>.btn-group:first-child>.btn:last-child,
.btn-group>.btn-group:first-child>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.btn-group>.btn-group:last-child>.btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0
}
.btn-group-xs>.btn {
    padding: 5px 10px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}
.btn-group>.btn+.dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px
}
.btn-group>.btn-lg+.dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}
.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn .caret {
    margin-left: 0
}
.btn-lg .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0
}
.dropup .btn-lg .caret {
    border-width: 0 5px 5px
}
.btn-group-vertical>.btn,
.btn-group-vertical>.btn-group {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%
}
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after {
    display: table;
    content: ""
}
.btn-group-vertical>.btn-group:after {
    clear: both
}
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after {
    display: table;
    content: ""
}
.btn-group-vertical>.btn-group:after {
    clear: both
}
.btn-group-vertical>.btn-group>.btn {
    float: none
}
.btn-group-vertical>.btn+.btn,
.btn-group-vertical>.btn+.btn-group,
.btn-group-vertical>.btn-group+.btn,
.btn-group-vertical>.btn-group+.btn-group {
    margin-top: -1px;
    margin-left: 0
}
.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
    border-radius: 0
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0
}
.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0
}
.btn-group-vertical>.btn-group:first-child>.btn:last-child,
.btn-group-vertical>.btn-group:first-child>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.btn-group-vertical>.btn-group:last-child>.btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.btn-group-justified {
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed
}
.btn-group-justified .btn {
    display: table-cell;
    float: none;
    width: 1%
}
[data-toggle="buttons"]>.btn>input[type="radio"],
[data-toggle="buttons"]>.btn>input[type="checkbox"] {
    display: none
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}
.input-group.col {
    float: none;
    padding-right: 0;
    padding-left: 0
}
.input-group .form-control {
    width: 100%;
    margin-bottom: 0
}
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}
select.input-group-lg>.form-control,
select.input-group-lg>.input-group-addon,
select.input-group-lg>.input-group-btn>.btn {
    height: 45px;
    line-height: 45px
}
textarea.input-group-lg>.form-control,
textarea.input-group-lg>.input-group-addon,
textarea.input-group-lg>.input-group-btn>.btn {
    height: auto
}
.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
select.input-group-sm>.form-control,
select.input-group-sm>.input-group-addon,
select.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    line-height: 30px
}
textarea.input-group-sm>.form-control,
textarea.input-group-sm>.input-group-addon,
textarea.input-group-sm>.input-group-btn>.btn {
    height: auto
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0
}
.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px
}
.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px
}
.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.input-group-addon:first-child {
    border-right: 0
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.input-group-addon:last-child {
    border-left: 0
}
.input-group-btn {
    position: relative;
    white-space: nowrap
}
.input-group-btn:first-child>.btn {
    margin-right: -1px
}
.input-group-btn:last-child>.btn {
    margin-left: -1px
}
.input-group-btn>.btn {
    position: relative
}
.input-group-btn>.btn+.btn {
    margin-left: -4px
}
.input-group-btn>.btn:hover,
.input-group-btn>.btn:active {
    z-index: 2
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
.nav:before,
.nav:after {
    display: table;
    content: ""
}
.nav:after {
    clear: both
}
.nav:before,
.nav:after {
    display: table;
    content: ""
}
.nav:after {
    clear: both
}
.nav>li {
    position: relative;
    display: block
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px
}
ul.nav .dropdown li a em {
	color: #fff;
	background: #9eca45;
	font-style: normal;
	padding: 3px 5px 2px 5px;
	border-radius: 1px;
	margin-left: 3px;
	text-transform: uppercase;
	font-size: 9px;
}
/*for menu style two
.menu_main2 .nav>li>a {
    position: relative;
    display: block;
    padding: 30px 22px
}
.menu_main2 .nav>li>a i {
    padding:0 0 10px 0;
}
*/
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background: transparent;
}
.nav>li.disabled>a {
    color: #999
}
.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}
/*.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca
}*/
.nav .open>a .caret,
.nav .open>a:hover .caret,
.nav .open>a:focus .caret {
    border-top-color: #2a6496;
    border-bottom-color: #2a6496
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}
.nav>li>a>img {
    max-width: none
}
.nav-tabs {
    border-bottom: 1px solid #ddd
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}
.nav-tabs.nav-justified>li {
    float: none
}
.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}
@media(min-width:1000px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{border:1px solid #ddd
}
@media(min-width:1000px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;
border-radius:4px 4px 0 0
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color:#fff
}
}
.nav-pills>li {
    float:left
}
.nav-pills>li>a {
    border-radius:4px
}
.nav-pills>li+li {
    margin-left:2px
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color:#fff;
    background-color:#428bca
}
.nav-pills>li.active>a .caret,
.nav-pills>li.active>a:hover .caret,
.nav-pills>li.active>a:focus .caret {
    border-top-color:#fff;
    border-bottom-color:#fff
}
.nav-stacked>li {
    float:none
}
.nav-stacked>li+li {
    margin-top:2px;
    margin-left:0
}
.nav-justified {
    width:100%
}
.nav-justified>li {
    float:none
}
.nav-justified>li>a {
    margin-bottom:5px;
    text-align:center
}
.nav-justified>.dropdown .dropdown-menu {
    top:auto;
    left:auto
}
@media(min-width:1000px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border:1px solid #ddd
}
@media(min-width:1000px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;
border-radius:4px 4px 0 0
}
.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border-bottom-color:#fff
}
}
.tab-content>.tab-pane {
    display:none
}
.tab-content>.active {
    display:block
}
.nav .caret {
    border-top-color:#428bca;
    border-bottom-color:#428bca
}
.nav a:hover .caret {
    border-top-color:#2a6496;
    border-bottom-color:#2a6496
}
.nav-tabs .dropdown-menu {
    margin-top:-1px;
    border-top-right-radius:0;
    border-top-left-radius:0
}
.navbar {
    position:relative;
    margin-bottom:0px;
    border:0px solid transparent
}
.navbar:before,
.navbar:after {
    display: table;
    content: ""
}
.navbar:after {
    clear: both
}
.navbar:before,
.navbar:after {
    display: table;
    content: ""
}
.navbar:after {
    clear: both
}
@media(min-width:1000px){.navbar{/*border-radius:4px*/}}.navbar-header:before,.navbar-header:after{display:table;content:""}.navbar-header:after{clear:both}.navbar-header:before,.navbar-header:after{display:table;content:""}.navbar-header:after{clear:both}@media(min-width:1000px){.navbar-header{float:left}}.navbar-collapse{max-height:340px;padding-right:15px;padding-left:15px;overflow-x:visible;border-top:1px solid transparent;
box-shadow:inset 0 1px 0 rgba(255,
255,
255,
0.1);
-webkit-overflow-scrolling:touch
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: ""
}
.navbar-collapse:after {
    clear: both
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: ""
}
.navbar-collapse:after {
    clear: both
}
.navbar-collapse.in {
    overflow-y: auto
}
/*menu2*/
.menu_main2 .navbar-collapse.in {
    overflow-y: auto;
	/*width:100%;
	background-color:#161616;*/
}
@media(min-width:1000px){.navbar-collapse{width:auto;border-top:0;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-collapse.in{overflow-y:auto}.navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px
}
.navbar-collapse .navbar-text:last-child {
    margin-right: 0
}
}
.container>.navbar-header,
.container>.navbar-collapse {
    margin-right:-15px;
    margin-left:-15px
}
@media(min-width:1000px){.container>.navbar-header,.container>.navbar-collapse{margin-right:0;/*margin-left:0*/}}.navbar-static-top{z-index:1000;border-width:0 0 1px
}
@media(min-width:1000px){.navbar-static-top{border-radius:0}}.navbar-fixed-top,.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030}@media(min-width:1000px){.navbar-fixed-top,.navbar-fixed-bottom{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px
}
.navbar-fixed-bottom {
    bottom:0;
    margin-bottom:0;
    border-width:1px 0 0
}
.navbar-brand {
    float:left;
    padding:15px 15px;
    font-size:18px;
    line-height:20px
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration:none
}
@media(min-width:1000px){.navbar>.container .navbar-brand {
    margin-left:-15px
}
}
.navbar-toggle {
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:4px;
}
.navbar-toggle .icon-bar {
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top:4px
}
@media(min-width:1000px){.navbar-toggle{display:none}}.navbar-nav{margin:7.5px -15px
}
.navbar-nav>li>a {
    padding-top:0px;
    padding-bottom:0px;
    line-height:25px
}
@media(max-width:1000px){.navbar-nav .open .dropdown-menu {
    position:static;
    float:none;
    width:auto;
    margin-top:0;
    background-color:transparent;
    border:0;
    box-shadow:none
}
.navbar-nav .open .dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding:5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu>li>a {
    line-height:20px
}
.navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-nav .open .dropdown-menu>li>a:focus {
    background-image:none
}
}
@media(min-width:1000px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}@media(min-width:1000px){.navbar-left{float:left!important}.navbar-right{float:right!important}}.navbar-form{padding:10px 15px;
margin-top:8px;
margin-right:-15px;
margin-bottom:8px;
margin-left:-15px;
border-top:1px solid transparent;
border-bottom:1px solid transparent;
-webkit-box-shadow:inset 0 1px 0 rgba(255,
255,
255,
0.1),
0 1px 0 rgba(255,
255,
255,
0.1);
box-shadow:inset 0 1px 0 rgba(255,
255,
255,
0.1),
0 1px 0 rgba(255,
255,
255,
0.1)
}
@media(min-width:1000px){.navbar-form .form-group {
    display:inline-block;
    margin-bottom:0;
    vertical-align:middle
}
.navbar-form .form-control {
    display:inline-block
}
.navbar-form .radio,
.navbar-form .checkbox {
    display:inline-block;
    padding-left:0;
    margin-top:0;
    margin-bottom:0
}
.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
    float:none;
    margin-left:0
}
}
@media(max-width:767px){.navbar-form .form-group {
    margin-bottom:5px
}
}
@media(min-width:1000px){.navbar-form{width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none}}.navbar-nav>li>.dropdown-menu{margin-top:-4px;border-top-right-radius:0;border-top-left-radius:0}.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}
.navbar-nav.pull-right>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu.pull-right {
    right:0;
    left:auto
}
.navbar-btn {
    margin-top:8px;
    margin-bottom:8px
}
.navbar-text {
    float:left;
    margin-top:15px;
    margin-bottom:15px
}
@media(min-width:1000px){.navbar-text{margin-right:15px;margin-left:15px}}.navbar-default{}.navbar-default .navbar-brand {
    color:#777
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: ""
}
.clearfix:after {
    clear: both
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.invisible {
    visibility: hidden
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.hidden {
    display: none!important;
    visibility: hidden!important
}
.affix {
    position: fixed
}
@-ms-viewport{width:device-width}.visible-xs,tr.visible-xs,th.visible-xs,td.visible-xs{display:none!important}@media(max-width:767px){.visible-xs{display:block!important}tr.visible-xs{display:table-row!important}th.visible-xs,td.visible-xs{display:table-cell!important}}@media(min-width:768px) and (max-width:991px) {
    .visible-xs.visible-sm {
        display: block!important
    }
    tr.visible-xs.visible-sm {
        display: table-row!important
    }
    th.visible-xs.visible-sm,
    td.visible-xs.visible-sm {
        display: table-cell!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .visible-xs.visible-md {
        display: block!important
    }
    tr.visible-xs.visible-md {
        display: table-row!important
    }
    th.visible-xs.visible-md,
    td.visible-xs.visible-md {
        display: table-cell!important
    }
}
@media(min-width:1200px){.visible-xs.visible-lg{display:block!important}tr.visible-xs.visible-lg{display:table-row!important}th.visible-xs.visible-lg,td.visible-xs.visible-lg{display:table-cell!important}}.visible-sm,tr.visible-sm,th.visible-sm,td.visible-sm{display:none!important}@media(max-width:767px){.visible-sm.visible-xs{display:block!important}tr.visible-sm.visible-xs{display:table-row!important}th.visible-sm.visible-xs,td.visible-sm.visible-xs{display:table-cell!important}}@media(min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .visible-sm.visible-md {
        display: block!important
    }
    tr.visible-sm.visible-md {
        display: table-row!important
    }
    th.visible-sm.visible-md,
    td.visible-sm.visible-md {
        display: table-cell!important
    }
}
@media(min-width:1200px){.visible-sm.visible-lg{display:block!important}tr.visible-sm.visible-lg{display:table-row!important}th.visible-sm.visible-lg,td.visible-sm.visible-lg{display:table-cell!important}}.visible-md,tr.visible-md,th.visible-md,td.visible-md{display:none!important}@media(max-width:767px){.visible-md.visible-xs{display:block!important}tr.visible-md.visible-xs{display:table-row!important}th.visible-md.visible-xs,td.visible-md.visible-xs{display:table-cell!important}}@media(min-width:768px) and (max-width:991px) {
    .visible-md.visible-sm {
        display: block!important
    }
    tr.visible-md.visible-sm {
        display: table-row!important
    }
    th.visible-md.visible-sm,
    td.visible-md.visible-sm {
        display: table-cell!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block!important
    }
    tr.visible-md {
        display: table-row!important
    }
    th.visible-md,
    td.visible-md {
        display: table-cell!important
    }
}
@media(min-width:1200px){.visible-md.visible-lg{display:block!important}tr.visible-md.visible-lg{display:table-row!important}th.visible-md.visible-lg,td.visible-md.visible-lg{display:table-cell!important}}.visible-lg,tr.visible-lg,th.visible-lg,td.visible-lg{display:none!important}@media(max-width:767px){.visible-lg.visible-xs{display:block!important}tr.visible-lg.visible-xs{display:table-row!important}th.visible-lg.visible-xs,td.visible-lg.visible-xs{display:table-cell!important}}@media(min-width:768px) and (max-width:991px) {
    .visible-lg.visible-sm {
        display: block!important
    }
    tr.visible-lg.visible-sm {
        display: table-row!important
    }
    th.visible-lg.visible-sm,
    td.visible-lg.visible-sm {
        display: table-cell!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .visible-lg.visible-md {
        display: block!important
    }
    tr.visible-lg.visible-md {
        display: table-row!important
    }
    th.visible-lg.visible-md,
    td.visible-lg.visible-md {
        display: table-cell!important
    }
}
@media(min-width:1200px){.visible-lg{display:block!important}tr.visible-lg{display:table-row!important}th.visible-lg,td.visible-lg{display:table-cell!important}}.hidden-xs{display:block!important}tr.hidden-xs{display:table-row!important}th.hidden-xs,td.hidden-xs{display:table-cell!important}@media(max-width:767px){.hidden-xs,tr.hidden-xs,th.hidden-xs,td.hidden-xs{display:none!important}}@media(min-width:768px) and (max-width:991px) {
    .hidden-xs.hidden-sm, tr.hidden-xs.hidden-sm, th.hidden-xs.hidden-sm, td.hidden-xs.hidden-sm {
        display: none!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .hidden-xs.hidden-md, tr.hidden-xs.hidden-md, th.hidden-xs.hidden-md, td.hidden-xs.hidden-md {
        display: none!important
    }
}
@media(min-width:1200px){.hidden-xs.hidden-lg,tr.hidden-xs.hidden-lg,th.hidden-xs.hidden-lg,td.hidden-xs.hidden-lg{display:none!important}}.hidden-sm{display:block!important}tr.hidden-sm{display:table-row!important}th.hidden-sm,td.hidden-sm{display:table-cell!important}@media(max-width:767px){.hidden-sm.hidden-xs,tr.hidden-sm.hidden-xs,th.hidden-sm.hidden-xs,td.hidden-sm.hidden-xs{display:none!important}}@media(min-width:768px) and (max-width:991px) {
    .hidden-sm, tr.hidden-sm, th.hidden-sm, td.hidden-sm {
        display: none!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .hidden-sm.hidden-md, tr.hidden-sm.hidden-md, th.hidden-sm.hidden-md, td.hidden-sm.hidden-md {
        display: none!important
    }
}
@media(min-width:1200px){.hidden-sm.hidden-lg,tr.hidden-sm.hidden-lg,th.hidden-sm.hidden-lg,td.hidden-sm.hidden-lg{display:none!important}}.hidden-md{display:block!important}tr.hidden-md{display:table-row!important}th.hidden-md,td.hidden-md{display:table-cell!important}@media(max-width:767px){.hidden-md.hidden-xs,tr.hidden-md.hidden-xs,th.hidden-md.hidden-xs,td.hidden-md.hidden-xs{display:none!important}}@media(min-width:768px) and (max-width:991px) {
    .hidden-md.hidden-sm, tr.hidden-md.hidden-sm, th.hidden-md.hidden-sm, td.hidden-md.hidden-sm {
        display: none!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .hidden-md, tr.hidden-md, th.hidden-md, td.hidden-md {
        display: none!important
    }
}
@media(min-width:1200px){.hidden-md.hidden-lg,tr.hidden-md.hidden-lg,th.hidden-md.hidden-lg,td.hidden-md.hidden-lg{display:none!important}}.hidden-lg{display:block!important}tr.hidden-lg{display:table-row!important}th.hidden-lg,td.hidden-lg{display:table-cell!important}@media(max-width:767px){.hidden-lg.hidden-xs,tr.hidden-lg.hidden-xs,th.hidden-lg.hidden-xs,td.hidden-lg.hidden-xs{display:none!important}}@media(min-width:768px) and (max-width:991px) {
    .hidden-lg.hidden-sm, tr.hidden-lg.hidden-sm, th.hidden-lg.hidden-sm, td.hidden-lg.hidden-sm {
        display: none!important
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .hidden-lg.hidden-md, tr.hidden-lg.hidden-md, th.hidden-lg.hidden-md, td.hidden-lg.hidden-md {
        display: none!important
    }
}
@media(min-width:1200px){.hidden-lg,tr.hidden-lg,th.hidden-lg,td.hidden-lg{display:none!important}}.visible-print,tr.visible-print,th.visible-print,td.visible-print{display:none!important}@media print {
    .visible-print {
        display: block!important
    }
    tr.visible-print {
        display: table-row!important
    }
    th.visible-print,
    td.visible-print {
        display: table-cell!important
    }
    .hidden-print,
    tr.hidden-print,
    th.hidden-print,
    td.hidden-print {
        display: none!important
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1169px){
.nav>li>a {
	padding-left: 8px;
	padding-right: 8px;
}
/*
.menu_main2 .nav>li>a {
    position: relative;
    display: block;
    padding: 30px 10px
}
.menu_main2 .nav>li>a {
    padding: 9px 18px
}
.menu_main2 .navbar-collapse {
    width: 100%;
}*/
}
@media only screen and (min-width: 480px) and (max-width: 767px){
.navbar {
    border:1px solid transparent
}
/*
.menu_main2 .nav > li > a {
	background-color:#161616;
}
.menu_main2 .nav > li > a {
    padding: 12px 22px;
}
}
.navbar {
    margin-bottom: 125px;
	height:0;
}*/
}
@media only screen and (max-width: 479px){
.navbar {
    border:1px solid transparent
}
/*
.menu_main2 .nav > li > a {
	background-color:#161616;
}
.menu_main2 .navbar-collapse.in {
    overflow-y: auto;
    background-color: #161616;
	width:100%;
}
.menu_main2 .navbar-collapse {
    width: 100%;
}
}
.navbar {
    margin-bottom: 125px;
	height:0;
}*/
}