.hide-panel{
	box-shadow: none !important;
}
#style-selector {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}
#style-selector.inOptions{
	position: static;
	box-shadow: none;
}
.style-selector-wrapper {
    position: relative;
    z-index: 9999;
    display: inline-block;
    background: rgba(255,255,255,0.95);
}
.style-selector-wrapper > div {
    margin: 0px 30px 20px 30px;
}
#style-selector a.close {
	position: absolute;
	top: 0px;
	opacity: 1 !important;
	right: -45px;
	width: 45px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 0px;
	font-size: 20px;
	color: #888;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 2px 0 4px 0 rgba(0,0,0,0.2);
}
#style-selector a.close:hover {
	background: rgba(235, 235, 235, 0.8);		
}
#style-selector a.close img{
	height: 25px;
	margin-top: 7px;	
}
#style-selector a.close i{
	margin-left: 0px;
}
#style-selector a.active {
    box-shadow: 0 0 0 2px #000;
}
#style-selector .title {
    height: 40px;
	width: 100%;
	float: left;
	display: block;
    background: #e9e9e9;
    text-align: center;
    font-size: 14px;
	font-weight: bold;
    line-height: 40px;
	color: #272727;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
#style-selector .title-sub {
    margin-top: 50px;
    margin-bottom: 0px;
	margin-left: 7px;
	display: block;
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#style-selector .title-sub2 {
    margin-top: 22px;
    margin-bottom: 0px;
	margin-left: 0px;
	display: block;
    color: #454545;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#style-selector ul {
    width: 180px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 20px 0 !important;
	border-bottom: 1px solid #e0e0e0;
}
#style-selector.inOptions ul{
	width: 100%;
	border: none;
}
#style-selector .styles {
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
#style-selector .styles li {
    float: left;
	margin: 8px 10px;
	padding: 0;
	color: #fff;
	text-align: center;
}
#style-selector .styles li input{
	margin-top: 5px;
}
#style-selector .styles li a {
    display: block;
    cursor: pointer;
	color: #797979;
}
.layout select {
    margin: 0 3px;
    width: 100%;
    font-size: 12px;
}
.bg-image img {
    width: auto;
    height: 100%;
}
#list-style-colors a span, #style-switcher-bg a span{
	border-radius: 100%;
	border: 1px solid rgba(0,0,0,0.05);
	text-align: center;
	color: #fff;
	line-height: 40px;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	font-size: 15px;
	background-size: 100%;
}
#style-selector a.demolinks {
	color: #797979;
	font-size: 10px;
	font-weight: 500;
	background: #E9E9E9;
	border-radius: 1px;
	width: 56px;
	padding: 2px 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s ease;
	letter-spacing: 0.3px;
}
#style-selector a.demolinks:hover,#style-selector a.demolinks.active {
	background: #92c034;
	box-shadow: none;
	color: #fff;
}
#style-selector .menu-fswitcher {
    margin-left: 0px;
	margin-top: 4px;
}
#style-selector .menu-fswitcher select {
	color: #fff;
    width:175px;
	padding: 5px 4px;
	border: 1px solid #575757;
	background-color: #575757;
}
#style-selector .styles.demos li a {
	text-align: center;
	width: 50px;
	height: 27px;
	font-size: 11px;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 27px;
	vertical-align: middle;
	background-color: #454545;
}
#style-selector .styles.demos li a:hover {
	background-color: #13afeb;
}
#style-selector .styles.demos li a:active {
	background-color: #13afeb;
}
#nhp-opts-main #style-selector .styles li{
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;	
}
#nhp-opts-main #list-style-colors a span{
	border-radius: 0px;
	height: 35px;
}
#nhp-opts-main .customLi span{
	color: #555;
	padding-top: 5px;
}
#nhp-opts-main .customLi span input{
	margin-top: 0px;
}
#nhp-opts-main .pre-color-skin0 {
	cursor: pointer;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	border-radius: 0px;
}
#customColorStyle{
	height: 37px;
	margin-top: 0px !important;
	width: 80px;
	text-align: center;
}
/* ----------- Colors ----------- */
.pre-color-skin0 {
    width: 40px;
    height: 40px;
    background-color: #a5d549;
    float: left;
    cursor: pointer;
}
.pre-color-skin1{
	width:40px;
	height:40px;
	background-color: #f62459;
	float: left;
	cursor: pointer;
}
.pre-color-skin2{
	width:40px;
	height:40px;
	background-color: #3183d7;
	float: left;
	cursor: pointer;
}
.pre-color-skin3{
	width:40px;
	height:40px;
	background-color: #3fc35f;
	float: left;
	cursor: pointer;
}
.pre-color-skin4{
	width:40px;
	height:40px;
	background-color: #35d3b7;
	float: left;
	cursor: pointer;
}
.pre-color-skin5{
	width:40px;
	height:40px;
	background-color: #ff6e41;
	float: left;
	cursor: pointer;
}
.pre-color-skin6{
	width:40px;
	height:40px;
	background-color: #37c6f5;
	float: left;
	cursor: pointer;
}
.pre-color-skin7{
	width:40px;
	height:40px;
	background-color: #fa3aab;
	float: left;
	cursor: pointer;
}
.pre-color-skin8{
	width:40px;
	height:40px;
	background-color: #c762cb;
	float: left;
	cursor: pointer;
}
.pre-color-skin9{
	width:40px;
	height:40px;
	background-color: #a5d549;
	float: left;
	cursor: pointer;
}
.pre-color-skin10{
	width:40px;
	height:40px;
	background-color: #6b798f;
	float: left;
	cursor: pointer;
}
.pre-color-skin11{
	width:40px;
	height:40px;
	background-color: #f2d438;
	float: left;
	cursor: pointer;
}
.pre-color-skin12{
	width:40px;
	height:40px;
	background-color: #970001;
	float: left;
	cursor: pointer;
}


/* ----------- BG Patterns ----------- */

.bg-patterns1{
	width:40px;
	height:40px;
	background: #F0F0F0;
	float: left;
	cursor: pointer;
}
.bg-patterns2{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern2.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns3{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern3.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns4{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern4.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns5{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern5.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns6{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern6.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns7{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern7.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns8{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern8.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns9{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern9.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns10{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern10.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns11{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern11.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns12{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern12.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns13{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern13-small.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns14{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern14-small.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns15{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern15-small.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns16{
	width:40px;
	height:40px;
	background: #eee url(../images/elements/pattern16-small.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}



#style-selector .styles-noborder {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}
#style-selector .styles-noborder li {
	float: left;
	margin: 0px 0px;
	padding: 0;
	color: #ddd;
}
#style-selector .styles-noborder li.left {
	float: left;
	width: 80px;
	line-height: 14px;
}
#style-selector .styles-noborder li.left em {
	font-style: normal;
	line-height: 18px;
	display: block;
	margin-top: 7px;
}
#style-selector .styles-noborder li.left em a {
	color: #b3b3b3;
	font-size: 11px;
}
#style-selector .styles-noborder li.left em a:hover {
	color: #fff;
}
#style-selector .styles-noborder li img {
	float: left;
	width: 100px;
	height: 70px;
}

@media only screen and (max-width: 1000px){
	
	#style-selector{
		display: none;
	}

}	



