*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cd-container {
	width: 98%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	content: '';
	display: table;
	clear: both;
}
.cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
.cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	height: 100%;
	width: 1px;
	background: #c5c5c5;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.cd-timeline::before {
		left: 50%;
		margin-left:5px;
	}
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	*zoom: 1;
}
.cd-timeline-block:before, .cd-timeline-block:after {
	content: " ";
	display: table;
}
.cd-timeline-block:after {
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
.time-line-layout-1 .cd-timeline-content {
	box-shadow: none;
}
.time-line-layout-1 .cd-timeline-content .cd-date {
	padding: 0px;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: 7em 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}
.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	line-height:21px;
	font-size:12px;
	line-height: 16px;
	text-align:center;
	width: 72px;
	height: 72px;
	padding: 4px 0px 0px 4px;
	margin-top: 90px;
	border-radius: 100%;
}
.cd-timeline-img span {
	float: left;
	width: 64px;
	height: 64px;
	padding-top: 16px;
	border-radius: 100%;
	border: 1px solid rgba(255,255,255,0.5);
}

.cd-timeline-img img {
	display: block;
	width: 90px;
	height:90px;
	position: relative;
	border-radius: 100%;
}
.cd-timeline-img.cd-picture {
	background: #d2527f;
}
.cd-timeline-img.cd-movie {
	background: #d2527f;
}
.cd-timeline-img.cd-location {
	background: #d2527f;
}

@media only screen and (max-width: 1169px){
	.cd-timeline-img {
		left: -20px;
		margin-top: 50px;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 72px;
		height: 72px;
		left: 50%;
		margin-left: -30px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}
 @-webkit-keyframes cd-bounce-1 {
0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes cd-bounce-1 {
0% {
 opacity: 0;
 -moz-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -moz-transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
}
}
@-o-keyframes cd-bounce-1 {
0% {
 opacity: 0;
 -o-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -o-transform: scale(1.2);
}
 100% {
 -o-transform: scale(1);
}
}
@keyframes cd-bounce-1 {
0% {
 opacity: 0;
 transform: scale(0.5);
}
 60% {
 opacity: 1;
 transform: scale(1.2);
}
 100% {
 transform: scale(1);
}
}
.cd-timeline-content {
	position: relative;
	background: white;
	margin-left: 80px;
}
.cd-timeline-content:before, .cd-timeline-content:after {
	content: " ";
	display: table;
}
.cd-timeline-content:after {
	clear: both;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color: #727272;
}

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	font-size: 13px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	float:left;
	padding-left:0px;
}
.cd-timeline-content p.text {
	margin: 0px 0;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color: #727272;
	font-size: 14px;
	line-height:25px;
	text-align:left;
	padding:45px 10px 0px 0px;
}

.cd-timeline-content p.text strong {
	font: 18px 'Open Sans', sans-serif;
	font-weight: 600;
	color: #272727;
	display: block;
	line-height: 27px;
	margin-bottom: 10px;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #86c724;
}
.cd-timeline-content .cd-date {
	float: left;
}


@media only screen and (min-width: 320px) {
.cd-timeline-content h2 {
	font-size: 20px;
	font-size: 1.25rem;
}
.cd-timeline-content p {
	font-size: 16px;
	font-size: 1rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	float:left;

}
}
@media only screen and (min-width: 1170px) {
.cd-timeline-content {
	margin-left: 0;
	padding: 1.6em;
	width: 45%;
}
.cd-timeline-content::before {
	top: 24px;
	left: 100%;
	border-color: transparent;
	border-left-color: white;
}
.cd-timeline-content .cd-read-more {
	float: left;
}
.cd-timeline-content .cd-date {
	position: absolute;
	width: 95%;
	left: 127%;
	top: 6px;
	font-size: 16px;
	font-size: 1rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
	float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
	top: 24px;
	left: auto;
	right: 100%;
	border-color: transparent;
	border-right-color: white;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
	float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
	left: auto;
	right: 125%;
	text-align: right;
}
.cssanimations .cd-timeline-content.is-hidden {
	visibility: hidden;
}
.cssanimations .cd-timeline-content.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce-2 0.6s;
	-moz-animation: cd-bounce-2 0.6s;
	animation: cd-bounce-2 0.6s;
}
}
 @media only screen and (min-width: 1170px) {
/* inverse bounce effect on even content blocks */

.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
	-webkit-animation: cd-bounce-2-inverse 0.6s;
	-moz-animation: cd-bounce-2-inverse 0.6s;
	animation: cd-bounce-2-inverse 0.6s;
}
}
@-webkit-keyframes cd-bounce-2 {
0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2 {
0% {
 opacity: 0;
 -moz-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes cd-bounce-2 {
0% {
 opacity: 0;
 -o-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes cd-bounce-2 {
0% {
 opacity: 0;
 transform: translateX(-100px);
}
 60% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 transform: translateX(0);
}
}
@-webkit-keyframes cd-bounce-2-inverse {
0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2-inverse {
0% {
 opacity: 0;
 -moz-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(-20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes cd-bounce-2-inverse {
0% {
 opacity: 0;
 -o-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(-20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes cd-bounce-2-inverse {
0% {
 opacity: 0;
 transform: translateX(100px);
}
 60% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 transform: translateX(0);
}
}



/* TimeLine Style Layout 2  */
.section_time_line {
    float: left;
    width: 100%;
    padding: 50px 0px 40px 0px;
    background: #f3f3f3;
}
.time-line-layout-2 {
	width: 98%;
	max-width: 1170px;
	margin: 0 auto;
}
.time-line-layout-2::after {
	content: '';
	display: table;
	clear: both;
}
.time-line-layout-2 {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
.time-line-layout-2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #fff;
}
@media only screen and (min-width: 1170px) {
	.time-line-layout-2 {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.time-line-layout-2::before {
		left: 50%;
		margin-left: -2px;
	}
}
.cd-timeline-block-2 {
	position: relative;
	margin: 2em 0;
	zoom: 1;
}
.cd-timeline-block-2:before,
.cd-timeline-block-2:after {
	content: " ";
	display: table;
}
.cd-timeline-block-2:after { clear: both; }
.cd-timeline-block-2:first-child { margin-top: 0; }
.cd-timeline-block-2:last-child { margin-bottom: 0; }
@media only screen and (min-width: 1170px) {
	.cd-timeline-block-2 { margin: 4em 0; }
	.cd-timeline-block-2:first-child { margin-top: 0; }
	.cd-timeline-block-2:last-child { margin-bottom: 0; }
}
.cd-timeline-img-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img-2 img {
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 100%;
}
.cd-timeline-img-2.cd-picture-2 { background: #e3e3e3; }
@media only screen and (min-width: 1170px) {
	.cd-timeline-img-2 {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img-2.is-hidden { visibility: hidden; }
	.cssanimations .cd-timeline-img-2.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}
 @-webkit-keyframes
cd-bounce-1 {  0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -moz-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -moz-transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
}
}
@-o-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -o-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -o-transform: scale(1.2);
}
 100% {
 -o-transform: scale(1);
}
}
@keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 transform: scale(0.5);
}
 60% {
 opacity: 1;
 transform: scale(1.2);
}
 100% {
 transform: scale(1);
}
}
.cd-timeline-content-2 {
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius: 0.25em;
	padding: 1em;
	box-shadow: 0 3px 0 #e3e3e3;
	zoom: 1;
}
.cd-timeline-content-2:before,
.cd-timeline-content-2:after {
	content: " ";
	display: table;
}
.cd-timeline-content-2:after { clear: both; }
.cd-timeline-content-2 h2 { color: #2ecc71; font-weight: normal; margin-bottom: 0px;}
.cd-timeline-content-2 p,
.cd-timeline-content-2 .cd-read-more-2,
.cd-timeline-content-2 .cd-date-2 {
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content-2 .cd-read-more-2,
.cd-timeline-content-2 .cd-date-2 { display: inline-block; }
.cd-timeline-content-2 p.text-2 {
	margin: 5px 0;
	line-height: 23px;
	font-size: 14px;
}
.cd-timeline-content-2 .cd-read-more-2 {
	float: right;
	padding: .58em 1em;
	background: #999;
	color: white;
	border-radius: 0.25em;
	transition: all 0.3s ease;
}
.no-touch .cd-timeline-content-2 .cd-read-more-2:hover { background-color: #2ecc71; }
.cd-timeline-content-2 .cd-date-2 {
	float: left;
	padding: .8em 0;
}
.cd-timeline-content-2 .cd-date-2 strong {
	background-color: #2ecc71;
	color: #fff;
	padding: 5px 12px;
}
.cd-timeline-content-2 .cd-date-2 strong {
	position: relative;
	background: #2ecc71;
}
.cd-timeline-content-2 .cd-date-2 strong:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(47, 146, 238, 0);
	border-right-color: #2ecc71;
	border-width: 8px;
	margin-top: -8px;
}
.cd-timeline-content-2 .cd-date-2 b {
	background-color: #2ecc71;
	color: #fff;
	padding: 5px 12px;
}
.cd-timeline-content-2 .cd-date-2 b {
	position: relative;
	background: #2ecc71;
}
.cd-timeline-content-2 .cd-date-2 b:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(47, 146, 238, 0);
	border-left-color: #2ecc71;
	border-width: 8px;
	margin-top: -8px;
}
.cd-timeline-content-2::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid white;
}
@media only screen and (min-width: 320px) {
	.cd-timeline-content-2 h2 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.cd-timeline-content-2 p {
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-content-2 .cd-read-more-2,
	.cd-timeline-content-2 .cd-date-2 {
		font-size: 14px;
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content-2 {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;
	}
	.cd-timeline-content-2::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: white;
	}
	.cd-timeline-content-2 .cd-read-more-2 { float: left; }
	.cd-timeline-content-2 .cd-date-2 {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-block-2:nth-child(even) .cd-timeline-content-2 { float: right; }
	.cd-timeline-block-2:nth-child(even) .cd-timeline-content-2::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: white;
	}
	.cd-timeline-block-2:nth-child(even) .cd-timeline-content-2 .cd-read-more-2 { float: right; }
	.cd-timeline-block-2:nth-child(even) .cd-timeline-content-2 .cd-date-2 {
		left: auto;
		right: 122%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content-2.is-hidden { visibility: hidden; }
	.cssanimations .cd-timeline-content-2.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
	}
}
@media only screen and (min-width: 1170px) {
	.cssanimations .cd-timeline-block-2:nth-child(even) .cd-timeline-content-2.bounce-in {
		-webkit-animation: cd-bounce-2-inverse 0.6s;
		-moz-animation: cd-bounce-2-inverse 0.6s;
		animation: cd-bounce-2-inverse 0.6s;
	}
}
@-webkit-keyframes
cd-bounce-2 {  0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes
cd-bounce-2 {  0% {
 opacity: 0;
 -moz-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes
cd-bounce-2 {  0% {
 opacity: 0;
 -o-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 transform: translateX(-100px);
}
 60% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 transform: translateX(0);
}
}
@-webkit-keyframes
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -moz-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(-20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -o-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(-20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes
cd-bounce-2-inverse {  0% {
 opacity: 0;
 transform: translateX(100px);
}
 60% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 transform: translateX(0);
}
}