.tpbut.minicart-li {
    display: inline-block;
    float: right;
    padding: 20px 0;
    margin-right: 10px;
}
.minicart-li>ul.dropdown-menu {
    top: 40px;
}
.top_header {
    float: left;
    width: 100%;
    height: 90px;
    background: #fff;
}
.logged-in.admin-bar header.header{
	margin-top: 0px;	
}
.top_header .right {
    float: right;
    width: 70%;
    padding: 30px 0px 0px 0px;
    text-align: right;
    font-size: 14px;
    color: #272727;
    font-weight: 600;
}
.top_header .right i {
    font-size: 18px;
    margin-right: 3px;
}
.top_header .right a.but {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ef4836;
    padding: 8px 18px;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.top_header .right a.email {
    color: #272727;
    font-size: 14px;
    margin: 0px 18px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.top_header .right a.email i {
    font-size: 13px;
}


.navbar nav.nav_has_cart {
    width: calc(100% - 50px);
}
.nav_has_cart ul.nav>li>a {
    padding-left: 29px;
    padding-right: 29px;
}
.nav_has_cart ul.nav>li:last-child>a {
    border-right: 1px solid #434343;
}
ul.nav>li>a.active {
    color: #ef4836;
}
ul.nav>li>a:hover.active {
    color: #ef4836;
}
ul.nav>li>a:hover {
    color: #ef4836;
    transition: all 0.3s ease;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 32px;
    border-left: 1px solid #434343;
    height: 62px;
}
.nav>li.last {
    border-right: 1px solid #434343;
}
.list-unstyled a.active {
    color: #393939;
}
.list-unstyled a.active i {
    color: #393939;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.yamm .yamm-content {
    padding: 50px 40px 40px 40px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.yamm .dropdown.yamm-hw .dropdown-menu {
    left: auto;
    right: 0;
    width: 550px;
}
.yamm .yamm-content .col-md-4,
.yamm .yamm-content .col-md-8 {
    padding-right: 5px;
    padding-left: 5px;
}
.yamm .yamm-content .thumbnail {
    padding: 0;
    border: 0;
}
.yamm .yamm-content .caption {
    padding: 0;
}
.yamm .yamm-content .caption h3 {
    font-size: 18px;
    color: #272727;
    margin-top: 14px;
    margin-bottom: 8px;
}
.yamm .yamm-content .caption p {
    font-size: 14px;
    color: #727272;
}
.list-unstyled li:first-child {} .list-unstyled.two {
    margin-top: -12px;
}
.list-unstyled li p {
    font-size: 13px;
    color: #727272;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0px;
    margin-bottom: 18px;
}
.list-unstyled li i {
    color: #999;
    margin-right: 4px;
    font-size: 11px;
    transition: all 0.3s ease;
}
.list-unstyled li {
    padding: 5px 0;
}
.list-unstyled a {
    color: #999;
    padding: 4px 0px;
    width: 100%;
    font-size: 13px;
    transition-property: margin-left, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}
.list-unstyled a:hover {
    color: #393939;
}
.list-unstyled a:hover i {
    color: #393939;
}
.list-unstyled a:before {
    font-size: 12px;
    margin-right: 5px;
}
.row-border + .row .caption h3 {
    margin-top: 0px;
}
.row-border {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    .list-unstyled li:first-child {
        border-bottom: 0px;
        margin-bottom: 0px;
        top-bottom: 15px;
    }
    .list-unstyled li p {
        color: #bbb;
    }
    .list-unstyled li {
        padding: 8px 0;
    }
    .list-unstyled a {
        color: #bbb;
    }
    .list-unstyled a {
        color: #BBBBBB;
    }
    .list-unstyled a {
        color: #BBBBBB;
    }
    .list-unstyled a:hover {
        color: #fff;
    }
    .yamm .yamm-content .thumbnail {
        background-color: transparent;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
    }
    .yamm .yamm-content .caption p {
        color: #ccc;
    }
    .yamm .yamm-content .caption h3 {
        color: #ccc;
    }
    .yamm .yamm-content .thumbnail>img {
        margin-left: 0;
    }
    .row-border {
        border-bottom: 0;
    }
}
@media (max-width: 999px) {
    .list-unstyled a {
        color: #BBBBBB;
    }
    .list-unstyled li:first-child {
        border-bottom: 1px solid #3b3b3b;
        margin-bottom: 16px;
    }
    .list-unstyled li p {
        color: #fff;
        padding-top: 10px;
    }
    .list-unstyled .img_left4 {
        margin-right: 20px;
    }
}
}
/*
.navbar {
    min-height:60px;
}
*/

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
    border-radius: 0;
}
.navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 18px;
    text-transform: uppercase;
}
.navbar-nav>li>a i {
    display: block;
    text-align: center;
}
.navbar-default {
    margin-right: -32px;
}
.navbar-default.two {
    width: 100%;
    /*margin-right: 140px;*/
    /*padding-right:140px;*/
}
.navbar-nav.dark>li>a {
    padding-top: 30px;
    padding-bottom: 27px;
    text-transform: uppercase;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    /*    margin-left: -456px;*/
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.dropdown-submenu>.dropdown-menu:last-child {} @media (min-width: 769px;
) {
    .dropdown-submenu>.dropdown-menu:last-child {
        border-top: 0px solid #000;
    }
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-brand {
    /* background: url("../images/logo.png") no-repeat;
    width: 162px;
    height: 42px;
    display: block;*/
    
    padding: 0;
    margin: 15px 0;
}
.wrapper {
    margin-top: 0px;
}
.navbar-fixed-top + .wrapper {
    margin-top: 104px;
}
.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu>li>a {
    padding: 9px 20px;
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover {
    border-bottom: 1px solid #eee;
}
.dropdown-menu>li:last-child>a {
    border-bottom: 0px solid #d1d1d1;
}
/*-------------- header animation Start -------------------*/

.help {
    height: 40px;
}
.help > .container {
    padding-top: 10px;
}
@media (max-width: 999px) {
    .navbar-collapse.pull-right {
        width: 100%;
        /*float: none !important;*/
        
        background: #1e1e1e;
    }
    #navbar-collapse-1 > ul > li.dropdown > a > b {
        float: right;
    }
    .navbar-default .navbar-brand {
        margin-left: 14px;
    }
    #navbar-collapse-1 > ul > li {
        border-bottom: 1px solid #eee;
    }
    #navbar-collapse-1 > ul > li.open {
        background-color: #2b2b2b;
    }
    .help {
        display: none;
    }
    .navbar-nav>li>a {
        color: #b3b3b3;
        padding: 14px 15px;
    }
    .navbar-nav>li>a:hover {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #92d102;
        background-color: transparent;
        padding: 10px 20px;
        border-bottom: 0px;
    }
    .dropdown-menu>li>a {
        padding: 11px 20px !important;
        border-bottom: 0px;
    }
    .dropdown-submenu>.dropdown-menu:last-child {
        border-top: 0px;
    }
}
/*
.navbar-fixed-top .navbar-nav > li > a {padding-top: 15.666666666666666px; padding-bottom: 15.666666666666666px;}
.navbar-fixed-top  .navbar-brand {margin-top: 3.666666666666666px; margin-bottom: 2.666666666666666px;}
.navbar-fixed-top .navbar-brand img {height: 34.666666666666664px;}
*/
/*-------------- header animation End -------------------*/

.navbar-nav>li>a {
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
.callus {
    color: #545454;
    font-size: 13px;
    padding-top: 13px;
}
.callus a {
    margin-right: 20px;
    color: #545454;
}
.social-icons ul li {
    float: left;
    list-style-type: none;
    margin: 10px 0 10px 7px;
}
.social-icons a {
    width: 25px;
    height: 25px;
    display: block;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    text-align: center;
}
.social-icons a i {
    font-size: 15px;
    color: #272727;
    line-height: 24px;
    text-align: center;
}
.social-icons a:hover {
    background-color: #272727;
    border: 1px solid #272727;
}
.social-icons a:hover i {
    color: #fff;
}
.header {
    -webkit-border-radius: 0;
    border-spacing: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    -webkit-tap-highlight-color: transparent;
    outline: 0!important;
    -webkit-touch-callout: none;
    transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s
}
:focus {
    outline: 0
}
body {
    overflow-x: hidden
}
::-webkit-scrollbar {
    width: 12px
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
    background: rgba(210, 210, 210, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(210, 210, 210, .4)
}
.header {
    display: block;
    position: relative;
    z-index: 900!important;
    width: 100%;
    background-color: transparent;
    height: 62px;
    padding-top: 0px;
    background: #272727;
}
.compact .header {
    display: block;
    position: fixed;
    z-index: 9000!important;
    top: 0;
    left: 0;
    width: 100%;
    background: #272727;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.compact .header #logo2 {
    background-size: 45%;
    background-position: left 7px;
}
.menu_main .col-md-3 {
    width: 28%;
    border-right: 1px solid #eee;
    margin-right: 7%;
}
.menu_main .col-md-3.last {
    border-right: 0px solid #eee;
    margin-right: 0%;
}
.navbar-collapse {
    padding-right: 1px;
    padding-left: 1px;
}
@media only screen and (min-width: 1000px) and (max-width: 1169px) {
    .nav>li>a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav_has_cart ul.nav>li>a {
        padding-left: 17px;
        padding-right: 17px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
    .logo a#logo{
        width: 200px;
        display: inline-block;
        float: none;
    }
    .top_header{
        height: auto;
    }
    .top_header .left {
        width: 100%;
    }
    .top_header .right{
        width: 100%;
        text-align: center;
        padding: 0 0 20px 0;
    }
    .compact .header {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .menu_main .col-md-3 {
        width: 100%;
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .menu_main .col-md-3.last {
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .yamm .yamm-content {
        padding: 10px 20px 20px 20px;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        background: #1e1e1e;
    }
    .nav>li>a {
        padding: 10px 20px;
    }
    .top_header a[class^="sb-toggle-"]{
        position: absolute;
        top: 30px; 
        width: 30px;
        text-align: center;       
    }
    .sb-toggle-left{
        left: 15px
    }
    .sb-toggle-right{
        right: 20px;
    }
    .top_header a[class^="sb-toggle-"] i {
        font-size: 28px;
        color: #000;
    }
    .minicart-reponsive i{
        color: #272727;
        font-size: 24px;
    }
    .menu_main_full .navbar.yamm.navbar-default {
        position: absolute;
    }

    .header{
        height: auto;
        background: transparent;
    }
    
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    html body div.logo {
        margin-top: 3px;
    }
    .compact .header {
        padding-top: 0px;
        padding-bottom: 9px;
    }
    .menu_main .col-md-3 {
        width: 100%;
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .menu_main .col-md-3.last {
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .yamm .yamm-content {
        padding: 10px 20px 20px 20px;
    }
    .compact .header #logo2 {
        background-position: left 12px;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        background: #1e1e1e;
    }    
    .top_header{
        height: auto;
        padding-bottom: 20px;
    }
    .top_header .left, .top_header .right{
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .header, .compact .header {
        width: 36px;
        background: transparent;
        left: 20px;
        top: 0;
        position: absolute;
    }
    .top_header a[class^="sb-toggle-"]{
        position: absolute;
        top: 27px; 
        width: 30px;
        text-align: center;
        z-index: 9999;    
    }
    .sb-toggle-left{
        left: 15px
    }
    .sb-toggle-right{
        right: 20px;
    }
    .top_header a[class^="sb-toggle-"] i {
        font-size: 24px;
        color: #000;
    }
    .minicart-reponsive i{
        color: #272727;
    }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
    .logo {
        width: 100% !important;
        text-align: center;
    }
    .top_header .right {
        padding-top: 0;
    }
    .top_header .right a.email {
        float: right;
    }
    .top_header .right a.but {
        text-align: center;
        padding: 5px 26px;
        margin-top: 14px;
        margin-right: 0;
        display: inline-block;
    }
    .compact .header {
        padding-top: 0px;
        padding-bottom: 9px;
    }
    .top_header{
        height: auto;
        padding-bottom: 20px;
    }
    .top_header .left{
        width: 100%;
        float: left;
    }
    .top_header .right{
        width: 100%;
        text-align: center;
    }
    .header, .compact .header {
        display: none;
    }
    .menu_main .col-md-3 {
        width: 100%;
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .menu_main .col-md-3.last {
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .yamm .yamm-content {
        padding: 10px 20px 20px 20px;
    }
    .compact .header #logo2 {
        background-size: 25%;
        background-position: center 12px;
    }
    .top_header a[class^="sb-toggle-"]{
        position: absolute;
        top: 27px; 
        width: 30px;
        text-align: center;       
    }
    .sb-toggle-left{
        left: 15px
    }
    .sb-toggle-right{
        right: 20px;
    }
    .top_header a[class^="sb-toggle-"] i {
        font-size: 24px;
        color: #000;
    }
    .minicart-reponsive i{
        color: #272727;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        background: #1e1e1e;
    }
    
}
@media only screen and (max-width: 479px) {
    .compact .header {
        padding-top: 0px;
        padding-bottom: 9px;
    }
    .menu_main .col-md-3 {
        width: 100%;
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .menu_main .col-md-3.last {
        border-right: 0px solid #eee;
        margin-right: 0%;
    }
    .yamm .yamm-content {
        padding: 10px 20px 20px 20px;
    }
    .compact .header #logo2 {
        background-size: 35%;
        background-position: center 12px;
    }
    .header {
        top: 130px;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        background: #1e1e1e;
    }
    .header,
    .compact .header {
        background: transparent;
        left: 20px;
        top: 0;
        position: absolute;
        display: none;
    }
    .top_header a[class^="sb-toggle-"]{
        position: absolute;
        top: 27px; 
        width: 30px;
        text-align: center;       
    }
    .sb-toggle-left{
        left: 15px
    }
    .sb-toggle-right{
        right: 20px;
    }
    .top_header a[class^="sb-toggle-"] i {
        font-size: 24px;
        color: #000;
    }
    .minicart-reponsive i{
        color: #272727;
    }
    .top_header {
        float: left;
        width: 100%;
        height: auto;
        position: relative;
    }
    .top_header .logo {
        text-align: center;
        width: 100%;
    }
    .top_header .right {
        width: 100%;
        text-align: center;
        padding: 0 0 20px 0;
    }
    .top_header .right a.but {
        clear: both;
        display: inline-block;
        margin-top: 7px;
    }
    .demo-slide-v1 {
        margin-top: 0;
    }
}
@media (max-width: 999px) {
    #navbar-collapse-1 > ul > li {
        border-bottom: 0;
    }
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.navbar-toggle {
    position: relative;
    float: none;
    padding: 12px 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0;
    margin-left: 0px;
    background: #272727;
    cursor: pointer;
}
.navbar-toggle > span {
    Color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #272727;
}
.navbar-collapse {
    border-top: 0;
}
@media only screen and (min-width: 99px) and (max-width: 999px) {
    li.dropdown ul.dropdown-menu li a {
        color: #fff;
    }
    li.dropdown ul.dropdown-menu li a:hover {
        color: #333;
        border-bottom: none;
    }
    li.dropdown a:hover {
        color: #fff;
    }
    li.dropdown ul.dropdown-menu .yamm-content li a:hover {
        color: #999;
    }
}
@media (min-width: 1000px) {
    .yamm ul.nav li.dropdown > ul.dropdown-menu {
        /*opacity: 0;
        filter:alpha(opacity=100);*/
        /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;*/
    }
    .dropdown-submenu:hover>.dropdown-menu {
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: fadeInFromNone;
        -webkit-animation-fill-mode: forwards;
        animation-duration: 0.5s;
        animation-name: fadeInFromNone;
        animation-fill-mode: forwards;
        -ms-animation-duration: 0.5s;
        -ms-animation-name: fadeInFromNoneIE;
        -ms-animation-fill-mode: forwards;
    }
    .yamm ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;*/
        
        animation-duration: 0.5s;
        animation-name: fadeInFromNone;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: fadeInFromNone;
        -webkit-animation-fill-mode: forwards;
        -ms-animation-duration: 5s;
        -ms-animation-name: fadeInFromNoneIE;
        -ms-animation-fill-mode: forwards;
    }
    @-webkit-keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeInFromNoneIE {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /*.yamm ul.nav li.dropdown:hover > a {
    color: #13afeb;
}*/
    
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        padding: 22px 18px;
    }
}
.navbar-toggle > button {
    background: none;
    border: 0;
    float: right;
}
.navbar-default .navbar-toggle i {
    color: #fff;
    font-size: 21px;
}
.yamm ul.nav li.dropdown:hover b {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.container>.navbar-collapse {
    margin-right: 0px;
}
.navbar-brand,
.navbar-nav>li>a {
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
button.navbar-toggle {
    clear: right;
}
.width50 {
    width: 50%;
}
/* -------------- color Scheme Start --------------*/
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
color: #fff;
background-color: #454545;
     
}*/

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* -------------- color Scheme End --------------*/

.dropdown-menu.two {
    right: 0;
}
@media only screen and (min-width: 99px) and (max-width: 999px) {
    .navbar-default .navbar-nav>li>a {
        color: #999;
    }
}
@media only screen and (max-width: 1199px) {
    .container > .navbar-collapse {
        z-index: 9999;
    }
    .navbar-default.two {
        margin-right: 200px;
    }
    .navbar-default {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 1112px) {
    .container > .navbar-collapse {
        z-index: 9999;
    }
    .navbar-default.two {
        margin-right: 227px;
    }
}
@media only screen and (max-width: 991px) {
    .menu_main2 .container > .navbar-collapse {
        width: 100%;
        background-color: #161616;
    }
}
@media only screen and (max-width: 800px) {
    .navbar-default.two {
        margin-right: 0px;
    }
}