.navbar>.navbar-collapse {
	float: right;
}
.navbar nav.nav_has_cart {
	display: inline-block;
	float: left;
}
.tpbut.minicart-li a {
	color: #727272;
}
.tpbut.minicart-li:hover a {
	color: #e87e04;
}
.minicart-reponsive i {
	color: #272727;
}

.header-hosting + div + #container_full{
	padding-top: 85px;
}
/* top navigations */

.top_nav {
	float: left;
	width: 100%;
	background: #f3f3f3;
	border-bottom: 1px solid #e3e3e3;
	color: #999;
	font-size: 13px;
	height: 48px;
}
.top_nav .left {
	float: left;
	width: 30%;
	padding: 12px 0px;
}
.top_nav .left i {
	color: #999;
}
.top_nav .left a {
	color: #999;
	margin-right: 25px;
	font-weight: bold;
}
.top_nav .left a:hover {
	color: #727272;
	transition: all 0.3s ease;
}
.top_nav .right {
	float: left;
	width: 70%;
	text-align: right;
}
.top_nav ul.topsocial {
	float: none;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	padding: 12px 0px;
	display: inline-block;
}
.top_nav .topsocial li {
	float: left;
	padding: 0px;
	margin: 0px 16px 0px 0px;
}
.top_nav .topsocial li a {
	float: left;
	color: #999;
	font-size: 13px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	transition: all 0.3s ease;
	margin-right: 0px;
}
.top_nav .topsocial li a:hover {
	color: #727272;
}
.menu-top-menu-container {
	display: inline-block;
}
.menu-top-menu-container ul {
	margin: 0;
	padding: 0;
}
.menu-top-menu-container ul li {
	display: inline-block;
}
.menu-top-menu-container ul li a {
	float: right;
	color: #999;
	margin-left: 0px;
	padding: 12px 18px;
	border-right: 1px solid #f3f3f3;
	border-left: 1px solid #f3f3f3;
	transition: all 0.3s ease;
	display: block;
}
.menu-top-menu-container ul li a:hover,
.menu-top-menu-container ul li a.active {
	color: #999;
	background: #f9f9f9;
}
.menu-top-menu-container ul li:last-child a {
	border-right: 1px solid #f3f3f3;
	border-left: none;
}
/*----------------------------------------*/

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 18px
}
ul.nav>li>a.active {
	color: #0f75bd;
}
ul.nav>li>a:hover.active {
	color: #0f75bd;
}
ul.nav>li>a:hover {
	color: #0f75bd;
	transition: all 0.3s ease;
}
ul.nav>li>a.buynowbut {
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 25px;
	margin-top: 25px;
	background: #e87e04;
	transition: all 0.3s ease;
}
ul.nav>li>a.buynowbut:hover {
	color: #fff;
	background: #272727;
}
ul.nav>li>a .secbt {
	margin-top: 3px;
}
.list-unstyled a.active {
	color: #393939;
}
.list-unstyled a.active i {
	color: #393939;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
	position: static;
}
.yamm .container {
	position: relative;
}
.yamm .dropdown-menu {
	left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}
.yamm .yamm-content {
	padding: 50px 40px 40px 40px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
}
.yamm .dropdown.yamm-hw .dropdown-menu {
	left: auto;
	right: 0;
	width: 550px;
}
.yamm .yamm-content .col-md-4,
.yamm .yamm-content .col-md-8 {
	padding-right: 5px;
	padding-left: 5px;
}
.yamm .yamm-content .thumbnail {
	padding: 0;
	border: 0;
}
.yamm .yamm-content .caption {
	padding: 0;
}
.yamm .yamm-content .caption h3 {
	font-size: 18px;
	color: #272727;
	margin-top: 14px;
	margin-bottom: 8px;
}
.yamm .yamm-content .caption p {
	font-size: 14px;
	color: #727272;
}
.list-unstyled li:first-child {} .list-unstyled.two {
	margin-top: -12px;
}
.list-unstyled li p {
	font-size: 13px;
	color: #727272;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 0px;
	margin-bottom: 18px;
}
.list-unstyled li i {
	color: #999;
	margin-right: 4px;
	font-size: 11px;
	transition: all 0.3s ease;
}
.list-unstyled li {
	padding: 5px 0;
}
.list-unstyled a {
	color: #999;
	padding: 4px 0px;
	width: 100%;
	font-size: 13px;
	transition-property: margin-left, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	transition: all 0.3s ease;
}
.list-unstyled a:hover {
	color: #393939;
}
.list-unstyled a:hover i {
	color: #393939;
}
.list-unstyled a:before {
	font-size: 12px;
	margin-right: 5px;
}
.row-border + .row .caption h3 {
	margin-top: 0px;
}
.row-border {
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
@media (max-width: 767px) {
	.list-unstyled li:first-child {
		border-bottom: 0px;
		margin-bottom: 0px;
		top-bottom: 15px;
	}
	.list-unstyled li p {
		color: #bbb;
	}
	.list-unstyled li {
		padding: 8px 0;
	}
	.list-unstyled a {
		color: #bbb;
	}
	.list-unstyled a {
		color: #BBBBBB;
	}
	.list-unstyled a {
		color: #BBBBBB;
	}
	.list-unstyled a:hover {
		color: #fff;
	}
	.yamm .yamm-content .thumbnail {
		background-color: transparent;
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
		box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
	}
	.yamm .yamm-content .caption p {
		color: #ccc;
	}
	.yamm .yamm-content .caption h3 {
		color: #ccc;
	}
	.yamm .yamm-content .thumbnail>img {
		margin-left: 0;
	}
	.row-border {
		border-bottom: 0;
	}
	.menu-top-menu-container ul li a {
		padding: 0 5px;
	}
	.top_nav ul.topsocial {
		padding: 0;
	}
}
@media (max-width: 999px) {
	.list-unstyled a {
		color: #BBBBBB;
	}
	.list-unstyled li:first-child {
		border-bottom: 1px solid #3b3b3b;
		margin-bottom: 16px;
	}
	.list-unstyled li p {
		color: #fff;
		padding-top: 10px;
	}
	.list-unstyled .img_left4 {
		margin-right: 20px;
	}
	.header-hosting + div + #container_full {
		padding-top: 0px;
	}
}


.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border: 0;
	border-radius: 0;
}

.navbar-nav>li>a i {
	display: block;
	text-align: center;
}

.navbar-default.two {
	width: 100%;
}
.navbar-nav.dark>li>a {
	padding-top: 30px;
	padding-bottom: 27px;
	text-transform: uppercase;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
	margin-left: -1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

@media (min-width: 769px;) {
	.dropdown-submenu>.dropdown-menu:last-child {
		border-top: 0px solid #000;
	}
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.navbar-brand {
	padding: 0;
	margin: 15px 0;
}
.wrapper {
	margin-top: 0px;
}
.navbar-fixed-top + .wrapper {
	margin-top: 104px;
}
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu>li>a {
	padding: 9px 20px;
	font-size: 13px;
	color: #999;
	border-bottom: 1px solid #eee;
	transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover {
	border-bottom: 1px solid #eee;
}
.dropdown-menu>li:last-child>a {
	border-bottom: 0px solid #d1d1d1;
}
/*-------------- header animation Start -------------------*/

.help {
	height: 40px;
}
.help > .container {
	padding-top: 10px;
}
@media (max-width: 999px) {
	.navbar-collapse.pull-right {
		width: 100%;
		/*float: none !important;*/
		
		background: #1e1e1e;
	}
	#navbar-collapse-1 > ul > li.dropdown > a > b {
		float: right;
	}
	.navbar-default .navbar-brand {
		margin-left: 14px;
	}
	#navbar-collapse-1 > ul > li {
		border-bottom: 1px solid #eee;
	}
	#navbar-collapse-1 > ul > li.open {
		background-color: #2b2b2b;
	}
	.help {
		display: none;
	}
	.navbar-nav>li>a {
		color: #b3b3b3;
		padding: 14px 15px;
	}
	.navbar-nav>li>a:hover {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #92d102;
		background-color: transparent;
		padding: 10px 20px;
		border-bottom: 0px;
	}
	.dropdown-menu>li>a {
		padding: 8px 20px !important;
		;
		border-bottom: 0px;
	}
	.dropdown-submenu>.dropdown-menu:last-child {
		border-top: 0px;
	}
}
/*
.navbar-fixed-top .navbar-nav > li > a {padding-top: 15.666666666666666px; padding-bottom: 15.666666666666666px;}
.navbar-fixed-top  .navbar-brand {margin-top: 3.666666666666666px; margin-bottom: 2.666666666666666px;}
.navbar-fixed-top .navbar-brand img {height: 34.666666666666664px;}
*/
/*-------------- header animation End -------------------*/

.navbar-nav>li>a {
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
.callus {
	color: #545454;
	font-size: 13px;
	padding-top: 13px;
}
.callus a {
	margin-right: 20px;
	color: #545454;
}
.social-icons ul li {
	float: left;
	list-style-type: none;
	margin: 10px 0 10px 7px;
}
.social-icons a {
	width: 25px;
	height: 25px;
	display: block;
	background-color: #fff;
	border: 1px solid #c7c7c7;
	border-radius: 50%;
	text-align: center;
}
.social-icons a i {
	font-size: 15px;
	color: #272727;
	line-height: 24px;
	text-align: center;
}
.social-icons a:hover {
	background-color: #272727;
	border: 1px solid #272727;
}
.social-icons a:hover i {
	color: #fff;
}
.header {
	-webkit-border-radius: 0;
	border-spacing: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: normal;
	-webkit-tap-highlight-color: transparent;
	outline: 0!important;
	-webkit-touch-callout: none;
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s
}
:focus {
	outline: 0
}
body {
	overflow-x: hidden
}
::-webkit-scrollbar {
	width: 12px
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
	background: rgba(210, 210, 210, .8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(210, 210, 210, .4)
}
.header {
	display: block;
	position: fixed;
	z-index: 9000!important;
	top: 48px;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: 85px;
	padding-top: 0px;
}
.compact .header {
	display: block;
	position: fixed;
	z-index: 9000!important;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	border-bottom: none;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}
.compact .header #logo {
	background-size: 40%;
}
.compact .header .navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}
.compact .header ul.nav>li>a.buynowbut {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 25px;
	margin-top: 15px;
}
.menu_main .col-md-3 {
	width: 28%;
	border-right: 1px solid #eee;
	margin-right: 7%;
}
.menu_main .col-md-3.last {
	border-right: 0px solid #eee;
	margin-right: 0%;
}
@media only screen and (min-width: 1000px) and (max-width: 1169px) {
	.header {
		height: auto;
	}
	.compact .header #logo {
		background-size: 45%;
		background-position: left 3px;
	}
	.compact .header .navbar-nav>li>a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav>li>a {
		padding: 10px 10px
	}
	.top_nav .left{
		width: 40%;
	}
	.top_nav .right{
		width: 60%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
	.header {
		height: auto;
		padding-bottom: 10px;
	}
	.compact .header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.yamm .yamm-content {
		padding: 10px 20px 20px 20px;
	}
	ul.nav>li>a.buynowbut,
	.compact .header ul.nav>li>a.buynowbut {
		color: #fff;
		border: 1px solid #2ecc71;
		background: #2ecc71;
		border-radius: 0px;
		margin-top: 10px;
	}
	ul.nav>li>a.buynowbut:hover,
	.compact .header ul.nav>li>a.buynowbut:hover {
		color: #fff;
		border: 1px solid #727272;
		background: #727272;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
	.header {
		height: auto;
		padding-bottom: 10px;
	}
	.compact .header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.yamm .yamm-content {
		padding: 10px 20px 20px 20px;
	}
	ul.nav>li>a.buynowbut,
	.compact .header ul.nav>li>a.buynowbut {
		color: #fff;
		border: 1px solid #2ecc71;
		background: #2ecc71;
		border-radius: 0px;
		margin-top: 10px;
	}
	ul.nav>li>a.buynowbut:hover,
	.compact .header ul.nav>li>a.buynowbut:hover {
		color: #fff;
		border: 1px solid #727272;
		background: #727272;
	}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
	.header {
		height: auto;
		padding-bottom: 10px;
		top: 95px;
	}
	.compact .header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.compact .header #logo {
		background-size: 57%;
	}
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.yamm .yamm-content {
		padding: 10px 20px 20px 20px;
	}
	ul.nav>li>a.buynowbut,
	.compact .header ul.nav>li>a.buynowbut {
		color: #fff;
		border: 1px solid #2ecc71;
		background: #2ecc71;
		border-radius: 0px;
		margin-top: 10px;
	}
	ul.nav>li>a.buynowbut:hover,
	.compact .header ul.nav>li>a.buynowbut:hover {
		color: #fff;
		border: 1px solid #727272;
		background: #727272;
	}
}
@media only screen and (max-width: 479px) {
	.header {
		height: auto;
		padding-bottom: 10px;
		top: 95px;
	}
	.compact .header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.compact .header #logo {
		background-size: 57%;
	}
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.yamm .yamm-content {
		padding: 10px 20px 20px 20px;
	}
	ul.nav>li>a.buynowbut,
	.compact .header ul.nav>li>a.buynowbut {
		color: #fff;
		border: 1px solid #2ecc71;
		background: #2ecc71;
		border-radius: 0px;
		margin-top: 10px;
	}
	ul.nav>li>a.buynowbut:hover,
	.compact .header ul.nav>li>a.buynowbut:hover {
		color: #fff;
		border: 1px solid #727272;
		background: #727272;
	}
}
@media (max-width: 999px) {
	#navbar-collapse-1 > ul > li {
		border-bottom: 0;
	}
}
.navbar-default .navbar-nav>li>a {
	font-family: 'Raleway', sans-serif;
	color: #727272;
	font-size: 16px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 0.5px;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 12px 10px;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 0;
	margin-left: 0px;
	background: #272727;
	cursor: pointer;
}
.navbar-toggle > span {
	Color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #272727;
}
.navbar-collapse {
	border-top: 0;
}
@media only screen and (min-width: 99px) and (max-width: 999px) {
	li.dropdown ul.dropdown-menu li a {
		color: #fff;
	}
	li.dropdown ul.dropdown-menu li a:hover {
		color: #333;
		border-bottom: none;
	}
	li.dropdown a:hover {
		color: #fff;
	}
	li.dropdown ul.dropdown-menu .yamm-content li a:hover {
		color: #999;
	}
	.top_nav {
		height: auto;
	}
	.top_nav .left,
	.top_nav .right {
		text-align: center;
		width: 100%;
	}
	.header.header-hosting {
		float: left;
		position: relative;
		top: 0;
	}
	.compact .header.header-hosting {
		position: fixed;
	}
	.header a[class^="sb-toggle-"] {
		left: 30px;
	}
	.header a[class^="sb-toggle-"] i {
		color: #272727;
		font-size: 24px;
	}
}
@media (min-width: 1000px) {
	.yamm ul.nav li.dropdown > ul.dropdown-menu {
		/*opacity: 0;
		filter:alpha(opacity=100);*/
		/* -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;*/
	}
	.dropdown-submenu:hover>.dropdown-menu {
		-webkit-animation-duration: 0.5s;
		-webkit-animation-name: fadeInFromNone;
		-webkit-animation-fill-mode: forwards;
		animation-duration: 0.5s;
		animation-name: fadeInFromNone;
		animation-fill-mode: forwards;
		-ms-animation-duration: 0.5s;
		-ms-animation-name: fadeInFromNoneIE;
		-ms-animation-fill-mode: forwards;
	}
	.yamm ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
		/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;*/
		
		animation-duration: 0.5s;
		animation-name: fadeInFromNone;
		animation-fill-mode: forwards;
		-webkit-animation-duration: 0.5s;
		-webkit-animation-name: fadeInFromNone;
		-webkit-animation-fill-mode: forwards;
		-ms-animation-duration: 5s;
		-ms-animation-name: fadeInFromNoneIE;
		-ms-animation-fill-mode: forwards;
	}
	@-webkit-keyframes fadeInFromNone {
		0% {
			opacity: 0;
		}
		1% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fadeInFromNoneIE {
		0% {
			opacity: 0;
		}
		1% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fadeInFromNone {
		0% {
			opacity: 0;
		}
		1% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	/*.yamm ul.nav li.dropdown:hover > a {
	color: #13afeb;
}*/
	
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
		padding: 22px 18px;
	}
}
.navbar-toggle > button {
	background: none;
	border: 0;
	float: right;
}
.navbar-default .navbar-toggle i {
	color: #fff;
	font-size: 21px;
}
.yamm ul.nav li.dropdown:hover b {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.container>.navbar-collapse {
	margin-right: 0px;
}
.navbar-brand,
.navbar-nav>li>a {
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
button.navbar-toggle {
	clear: right;
}
.width50 {
	width: 50%;
}
/* -------------- color Scheme Start --------------*/
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
color: #fff;
background-color: #454545;
	 
}*/

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
/* -------------- color Scheme End --------------*/

.dropdown-menu.two {
	right: 0;
}
@media only screen and (min-width: 99px) and (max-width: 999px) {
	.navbar-default .navbar-nav>li>a {
		color: #999;
	}
	header.header a[class^="sb-toggle-"]{
		top: 30px;
	}
	.compact header.header a[class^="sb-toggle-"]{
		top: 20px;
	}
}
@media only screen and (max-width: 1199px) {
	.container > .navbar-collapse {
		z-index: 9999;
	}
	.navbar-default.two {
		margin-right: 200px;
	}
	.navbar-default {
		margin-right: 0px;
	}
}
@media only screen and (max-width: 1112px) {
	.container > .navbar-collapse {
		z-index: 9999;
	}
	.navbar-default.two {
		margin-right: 227px;
	}
}
@media only screen and (max-width: 991px) {} @media only screen and (max-width: 800px) {
	.navbar-default.two {
		margin-right: 0px;
	}
}