/* =============================================
 *
 *   FIXED RESPONSIVE NAV
 *
 *   (c) 2014 @adtileHQ
 *   http://www.adtile.me
 *   http://twitter.com/adtilehq
 *
 *   Free to use under the MIT License.
 *
 * ============================================= */

.logo {
    margin-top: 0px !important;
    float: left;
    width: 18%;
    height: 90px;
    padding: 20px 0 0 0;
}
.logo img {
    /*max-height: initial !important;*/
}
/* ------------------------------------------
	RESPONSIVE NAV STYLES
--------------------------------------------- */
.logged-in.admin-bar header.header{
	margin-top: 0px;
}
.opstycky1 {
    float: left;
    width: 100%;
    background: #d2527f;
    position: fixed;
    z-index: 999;
    top: 0px;
}
.menuopv1 {
    float: left;
    margin-top: 7px;
}
.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-collapse li {
    width: 100%;
    display: block;
    padding: 10px 0px;
}
.sb-slidebar .nav-collapse li{
	padding: 0;
}
.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}
.nav-collapse.opened {
    max-height: 9999px;
}
.disable-pointer-events {
    pointer-events: none !important;
}
.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@media screen and (min-width: 50em) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}
/* ------------------------------------------
	MASK
--------------------------------------------- */

.mask {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    background: rgba(0, 0, 0, .5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.android .mask {
    -webkit-transition: none;
    transition: none;
}
.js-nav-active .mask {
    visibility: visible;
    opacity: 1;
}
@media screen and (min-width: 50em) {
    .mask {
        display: none !important;
        opacity: 0 !important;
    }
}
/* ------------------------------------------
	NAVIGATION STYLES
--------------------------------------------- */

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.nav-collapse,
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-collapse,
.nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
}
@media screen and (min-width: 50em) {
    .nav-collapse {
        float: right;
        width: auto;
    }
}
.nav-collapse li {
    float: left;
    width: 100%;
}
@media screen and (min-width: 50em) {
    .nav-collapse li {
        width: auto;
    }
}
.nav-collapse a {
    color: #fff;
    width: 100%;
    float: left;
    transition: all 0.3s ease;
}
.nav-collapse a.but {
    color: #d2527f;
    background: #fff;
    border-radius: 3px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    transition: all 0.3s ease;
}
.nav-collapse a.but:hover {
    color: #fff;
    background: #e76e98;
}
.nav-collapse a:hover,
.nav-collapse a:active,
.nav-collapse .active a {
    color: #e8dc57;
}
@media screen and (min-width: 50em) {
    .nav-collapse a {
        padding: 0.65em 1.4em;
        text-align: center;
        border-top: 0;
        float: left;
        margin: 0;
        font-weight: 500;
    }
}
.nav-collapse ul ul a {
    background: #ca3716;
    padding-left: 2em;
}
@media screen and (min-width: 50em) {
    .nav-collapse ul ul a {
        display: none;
    }
}
/* ----------------------------
	NAV TOGGLE STYLES
------------------------------- */

.nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    float: right;
    margin-top: 18px;
    background: #b4436b;
}
.nav-toggle .navtitle {
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
    padding-left: 14px;
}
.nav-toggle:before {
    color: #fff;
    /* Edit this to change the icon color */
    
    font: normal 45px "responsivenav";
    /* Edit font-size (28px) to change the icon size */
    
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261";
    /* Hamburger icon */
    
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 160px;
    top: 0;
}
.nav-toggle.active:before {
    font-size: 45px;
    content: "\00D7";
    /* Close icon */
}
@media only screen and (max-width: 999px) {
	.compact .logo{
		padding: 14px 0 0 0;
	}
	.compact div.logo{
		height: 65px;
	}
    .nav-collapse a.but {
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 0px;
    }
    header.header a[class^="sb-toggle-"] {
    	top: 30px;
    } 
    .compact header.header a[class^="sb-toggle-"] {
    	top: 20px;
    } 
    .header a[class^="sb-toggle-"] i {
        color: #fff;
    }
    body div.logo {
	    width: 100%;
	    text-align: right;
	}
	.compact div.logo img{
		max-height: 35px;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .nav-toggle:before {
        left: 118px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
    .nav-toggle:before {
        left: 185px;
    }
}
@media only screen and (max-width: 479px) {
    .nav-toggle:before {
        left: 120px;
    }
}
@media only screen and (max-width: 639px) {
    .nav-toggle {
        margin-top: 0px;
    }
    .nav-collapse ul {
        margin: -0px 0 0 0;
    }
}