/* ==========================
   MENU FULLPAGE CSS
========================== */


/* Logo */
#logo {
    float: left;
    display: block;
    width: 100%;
    min-height: 50px;
    margin-top: 3px;
    position: relative;
    text-indent: -999em;
    background: url(../images/logo.png) no-repeat left top;
}
.topheader {
    float: left;
    width: 100%;
    height: 100px;
    background: #454545;
    position: relative;
    z-index: 9999;
}
.topheader .logo {
    float: left;
    width: 33.3333333% !important;
    height: 140px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    background: url(../../images/logo-bg.png) no-repeat center top;
}
.topheader .logo img{
    width: initial;
    max-height: 90px;
}

.topheader .left {
    float: left;
    padding-top: 30px;
    color: #fff;
    width: 33.3333333%;
}
.topheader .right {
    float: left;
    padding-top: 30px;
    color: #fff;
    width: 33.3333333%;
    text-align: right;
}
.topheader .right a.email {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    margin: 0px 18px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.topheader .right a.email i {
    font-size: 13px;
    margin-right: 3px;
}
.topheader .right i {
    font-size: 18px;
    margin-right: 3px;
}
.topheader .right a.email:hover {
    color: #e67e22;
}

.topheader ul.social_links {
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 30px;
}
.topheader .social_links li {
    float: left;
    padding: 0px;
    margin: 0px 7px 0px 0px;
}
.topheader .social_links li a i {
    width: 21px;
    height: 21px;
    font-size: 12px;
    text-align: center;
    border-radius: 100%;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.topheader .social_links li a i:hover {
    color: #454545;
    background: #fff;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.page { text-align:center; padding:20px;}*/
.block1 {
    position: relative;
    width: 100%;
}
.block2 {
    position: relative;
    width: 100%;
}
.block3 {
    position: relative;
    width: 100%;
}
.block4 {
    position: relative;
    width: 100%;
}
.block5 {
    position: relative;
    width: 100%;
}
.block6 {
    position: relative;
    width: 100%;
}
.height-block {
    height: auto;
}

@media only screen and (min-width: 1000px) and (max-width: 1169px) {
    .topheader .left, .topheader .right{
        width: 40%;
    }
    .topheader .logo{
        width: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .topheader .right{
        text-align: left;
        padding-left: 15px;
    }
    .topheader .right a.email{
        margin: 0;
        display: block;
    }

    .topheader ul.social_links{
        text-align: right;
    }
    .topheader .social_links li{
        float: none;
        display: inline-block;
    }
    .topheader ul.social_links{
        margin: 0px 0px 0px 10px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .topheader .right{
        text-align: left;
        padding-left: 15px;
    }
    .topheader .right a.email{
        margin: 0;
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .topheader{
        height: auto;
    }
    .topheader ul.social_links{
        margin: 0;
        float: none;
        display: inline-block;
    }
    .topheader .logo img{
        max-width: 100%;
    }
    .topheader .left{
        padding-top: 12px;
        width: 100%;
        text-align: center;
    }

    .topheader .right{
        padding-top: 5px;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    .topheader .logo{
        width: 100% !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 479px) {
    .topheader{
        height: auto;
    }
    .topheader ul.social_links{
        margin: 0;
        float: none;
        display: inline-block;
    }
    .topheader .logo img{
        max-width: 100%;
    }
    .topheader .left{
        padding-top: 12px;
        width: 100%;
        text-align: center;
    }

    .topheader .right{
        padding-top: 5px;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    .topheader .logo{
        width: 100% !important;
        margin-top: 10px;
    }
}

@media (max-width: 999px) {
    
}

@media only screen and (min-width: 99px) and (max-width: 999px) {

}

@media (min-width: 1000px) {

}