/*------------------------------------
 # For Primary Header color area
------------------------------------*/

ul.nav>li>a.active, ul.nav>li>a:hover,
.ms-layer.v10_sbut3:hover,
ul.nav>li>a:hover.active,
.tpbut.minicart-li:hover a,
.header-full ul.nav>li>a:hover.active,
.page-medical .top_nav b,
.top_header .right h4,
.header-14 ul.nav>li>a.active{
	color: {color};
}
.header-3 ul.nav>li>a.active, .header-3 ul.nav>li>a:hover{
	border-top: 5px solid {color};
}
.header-full ul.nav > li.buynowbut:hover > a,
.header-10 ul.nav>li.buynowbut:hover>a{
	border-color: {color};
}
ul.nav>li.buynowbut>a,
.tpbut.minicart-li a .cart-items,
.header-10 ul.nav>li>a.active,
.ms-layer.v10_sbut4,
.header-13 ul.nav>li>a.active,
.compact .header-14 ul.nav>li>a.active,
.header-full ul.nav > li.buynowbut:hover > a,
.header-10 ul.nav>li.buynowbut:hover>a,
.header-13 ul.nav>li>a:hover,
.page-medical .top_nav a,
.opstycky1{
	background-color: {color};
}
.header-14 ul.nav>li>a.active{
	background: transparent !important;
}
.header-10 ul.nav>li>a.active,
.header-13 ul.nav>li>a.active,
ul.nav>li.buynowbut>a,
.header-10 ul.nav>li.buynowbut:hover>a,
.header-13 ul.nav>li>a:hover,
.header-travel .navbar-default .navbar-nav>li>a,
.header-nonprofit ul.nav>li>a.active,
.header-nonprofit ul.nav>li>a:hover{
	color: #FFF;
}
.header-full ul.nav > li.buynowbut > a{
	background-color: rgba(0,0,0,0);
	color: #fff;
	border-color: #fff;
}
.header-2 ul.nav>li.buynowbut:hover>a{
	border-color: #272727;
}
.header-3 ul.nav>li.buynowbut:hover>a{
	background: #272727;
}
.compact .header-3.header ul.nav>li.buynowbut>a{
	border-top: 0;
	border-color:transparent;
}
.header-7 .navbar .buynowbut,
.header-6-full .navbar .buynowbut,
.header-3 .navbar .buynowbut,
.header-2 .navbar .buynowbut,
.header-full .navbar .buynowbut{
	background: rgba(0,0,0,0);
}
.header-3 ul.nav>li.buynowbut>a{
	border: none;
}
.header-3 ul.nav>li.buynowbut>a:hover{
	border-top: 0;
}
.header-8 .navbar .buynowbut{
	background: transparent;
}
.header-9.header{
	background-color: {darkercolor};
}
.header-9 ul.nav>li>a.active,.header-9  ul.nav>li>a:hover,
.header-9 .tpbut.minicart-li:hover i{
	color: #90c695;
}
.header-9 ul.nav>li.buynowbut>a{
	background: #90c695;
	border: 0;
}
.header-9 ul.nav>li.buynowbut>a:hover{
	background: #393939;
	color: #fff;
}
.header-9 .navbar .buynowbut{
	background: transparent;
}
.header-10 .navbar .buynowbut{
	background: transparent;
}
.header-10 ul.nav>li>a:hover.active{
	color: #fff;
}
.header-10 ul.nav>li.buynowbut>a{
	border-color: #727272;
	color: #727272;
	background: transparent;
	margin-top: 22px;
}
.header.header-12{
	background-color: rgba({color_rgb}, 0.9);
}
.header-12 ul.nav>li>a.active,.header-12  ul.nav>li>a:hover,
.header-12 .tpbut.minicart-li:hover i{
	color: #90c695;
}
.header-12 ul.nav>li.buynowbut>a{
	background: rgba(0,0,0,0);
}
.header-12 ul.nav>li.buynowbut>a:hover{
	background-color: #272727;
	color: #fff;
}
.header-construction ul.nav>li>a.active{
	text-decoration: none;
}
.header.header-medical{
	border-bottom-color: {color};
}
.master-slider-main-widget .ms-anim-layers .ms-btn.nonp_sbut2:hover{
	border-color: #fff;
}
/* wedding */
.header-wedding .nav-collapse a:hover, .header-wedding .nav-collapse a:active, .header-wedding .nav-collapse .active a{
	color: #e8dc57;
}
.header-portfolio ul.nav>li.active>a,.header-portfolio ul.nav>li>a:hover{
	color: #fff;
	text-decoration: underline;
}
/* music */
.header-music ul.nav>li.active>a,
.header-law ul.nav>li>a.active,.header-law ul.nav>li>a:hover{
	color: {color};
}
/* political */
.header-political .nav-button li a{
	background: #fff;
}
.header-political ul.nav>li>a.active,.header-political ul.nav>li>a:hover{
	color: #fff;
	text-decoration: underline;
}
/*------------------------------------
 # For Primary color
 ------------------------------------*/
a,
.button.one,
.pricing-layout-1 h1, .pricing-layout-1 em,
.hs_latest_posts em,
.button.two,
.feature_section17 i, .feature_section17 icon,
.feature_section18 h1, .v1_feature_section6 h1,
.v2_feature_section2 h4, .v2_feature_section4 h4,
.v2_feature_section2 i, .v2_feature_section2 icon,
.ms-layer.text1_medium,
.our-team-layout-2 .one_fourth h4 em,
.testimonial-layout-4 .slidesec h6,
.ms-layer.v5_text1_medium,
.v5_feature_section1 .box:hover h2, .v5_feature_section1 .box.active h2,
.v6_feature_section1 .box:hover h5, .v6_feature_section1 .box.active h5,
.v6_feature_section3 .box:hover h3, .v6_feature_section3 .box.active h3,
.ms-layer.v7_text1,
.v10_feature_section2 .box:hover h5, .v10_feature_section2 .box.active h5,
.pricing-layout-3 .highlight .title h2,
.v11_feature_section6 .button_send:hover,
.v13_feature_section2 a:hover,
.v13_feature_section4 i, .v13_feature_section4 icon,
.v13_feature_section6 h4,
.testimonial-layout-13 .item i,
.ms-layer.con_sbut1,
.hs_extra_tab_hor .hor_tabs > li.active, .hs_extra_tab_hor .hor_tabs > li.active h5,
.cd-timeline-content h2,
.cbp-l-grid-masonry-projects-title,
.blog_post h3 a,
.ser2_feature_section1 .arrow_box strong,
.our-team-layout-8 h4,
.tabs_section3 .kc_tabs_nav > li.ui-tabs-active a,
.big_text1 i, .big_text1 p i,
.error_pagenotfound em,
div.cd-timeline-content-2 h2,
.small_social_links li i,
.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active,
.stcode_title12 h2,
.pricing-layout-4 .pacdetails.highlight .title strong,
.pricing-layout-5 .pricing-table-5 li.price.act h1,
.top_header .right h4,
.pricing-layout-2 .highlight .title h4,
.poworks .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active,
.ms-layer.v12_text3 span,
.ms-layer.v12_sbut1:hover,
.blog_post h3 a, .blog-single-post .blog_post h3,
.cforms_sty3 label em,
div.animated-counters-2 .kc-box-counter-2 i,
div.animated-counters-3 .kc-box-counter-2 i,
div.animated-counters-3 .kc-box-counter-2 .counterup,
div.animated-counters-4 .kc-box-counter-1 .counterup,
div.animated-counters-4 .kc-box-counter-1 h4,
.logregform .feildcont label em,
.recent_posts_list li a:hover,
.latest-post-layout-3 b a:hover,
.v12_button2:hover,
ul.products li.product .price .amount,
ul.cart_list li .widget-post-text .quantity .amount,
ul.cart_list li .widget-post-text a,
.poworks .cbp-l-filters-alignCenter .cbp-filter-item:hover,
.nonp_feature_section1 .button.one
{
	color: {color};
}
.master-slider-main-widget .ms-layer.nonp_sbut2{
	border-color: #fff;
}

/*------------------------------------
 # For Primary backgroud color
------------------------------------*/
.ms-layer.main_sbut1,
.feature_section2 .box:hover, .feature_section2 .box.active,
.linebg, .linebg_2, .linebg_3,
.feature_section5 .rightbox, div.feature_section5 .bgline, 
div.hs_latest_posts .box02,
.button.four,
.widget .tags li a:hover, .tagcloud a:hover,
.ms-layer.v1_sbut1, .ms-tabs .ms-thumb-frame-selected,
.v1_linebg, .feature_section16 .box2, .v1_button1,
.newsletters.red,
.v2_feature_section3 .rightcon li:before,
.v2_newsletter .input_submit,
.v2_button2,
.ms-layer.sbut5,
.v3_feature_section2,
body.kc_composer div.v3_feature_section5,
.v3_button1, .ms-layer.sbut7, .ms-layer.sbut6:hover,
.v4_feature_section1,
.v4_feature_section2 .box:hover .box-details, .v4_feature_section2 .box.active .box-details,
.v4_button1,
.footer_v4,
.ms-layer.v5_sbut2,
.v5_feature_section4,
.v6_feature_section1 .box:hover icon, .v6_feature_section1 .box.active icon,
.v6_feature_section1 .box:hover .bgline, .v6_feature_section1 .box.active .bgline,
.v6_feature_section3 .box:hover .button.one, .v6_feature_section3 .box.active .button.one,
.v6_feature_section6 .button_send,
.ms-layer.v7_sbut1:hover,
.v7_feature_section1 .box3,
.v7_feature_section2 .box:hover icon, .v7_feature_section2 .box.active icon,
.v7_feature_section4 .left li icon, .v7_feature_section4 .left li i,
.v7_feature_section4 .right li icon, .v7_feature_section4 .right li i
.v7_linebg3,
.v7_feature_section6 .boxleft,
.ms-layer.v8_sbut1:hover, .ms-layer.v8_sbut2:hover, .v8_button1:hover,
.v8_feature_section5 .button_send,
.v9_feature_section2 .box1,
.v9_button1, .our-team-layout-5 .social_icons,
.v9_feature_section5,
.v9_feature_section6 .contbox,
.v9_feature_section8 .newsletter_v9 .input_submit,
.v10_feature_section2 .box:hover i, .v10_feature_section2 .box:hover icon, .v10_feature_section2 .box.active i, .v10_feature_section2 .box.active icon,
.tabs-slider-style .right,
.pricing-layout-2 .highlight .title h2,
.pricing-layout-2 .highlight .button_2,
.v11_feature_section1 .box1,
.v11_button1:hover,
.pricing-layout-3 .highlight .title h4,
.pricing-layout-3 .highlight .v3_button,
.v11_feature_section6 .button_send,
.ms-layer.v13_sbut1,
.v13_feature_section1 .box:hover i, .v13_feature_section1 .box:hover icon, .v13_feature_section1 .box.active i, .v13_feature_section1 .box.active icon,
.v13_bgline,
.v13_feature_section2 a,
.v13_feature_section4,
.v13_button3,
.v13_feature_section9 .newsletter .input_submit,
.ms-layer.v14_sbut1,
.v14_feature_section2 .circle i,
.v14_feature_section6,
.ms-layer.con_sbut1:hover,
div[class*="cons_feature_section"] .button.one, .cons_footer .button.one,
.cons_feature_section2 .line2,
.cons_feature_section4 .row_box .active icon,
.cd-timeline-content .cd-date strong,
.cd-timeline-content .cd-date b,
.no-touch .cd-timeline-content .cd-read-more:hover,
ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover,
#wp-calendar th,
.v3_linebg,
.ser2_button2,
.fati4,
.but_medium1.but_404,
div.cd-timeline-content-2 .cd-date-2 strong, div.cd-timeline-content-2 .cd-date-2 b,
.cd-timeline-content-2 .cd-read-more-2:hover,
.newsletters,
a.but_goback,
.stcode_title5 .line,
.stcode_title4 .line,
.stcode_title7 .line,
.but_small1, .but_medium1, .but_large1, .but_small3, .but_medium3, .but_large3,
.but_small4, .but_medium4, .but_large4,
.but_small2, .but_medium2, .but_large2,
.but_full2 .butprogress,
.kc-carousel-images .progressBar .bar,
.pricing-layout-4 .pacdetails.highlight h6,
.pricing-layout-4 .pacdetails.highlight .bottom a,
.pricing-layout-5 .pricing-table-5 li.title.act,
.pricing-layout-5 .pricing-table-5 li.hecont.act strong,
.pricing-layout-5 .pricing-table-5 .pri_but_small1,
.pricing-layout-6 .pricing-tables.highlight .title,
.pricing-layout-6 .pricing-tables.highlight .price,
.pricing-layout-6 .pricing-tables.highlight .but_small3,
body .v6_feature_section3,
.overlay .sitesearch_but,
.ms-tabs .ms-thumb-frame-selected, .ms-tabs .ms-thumb-frame:hover,
.v2_button1:hover,
.top_header .right .but:hover,
.sharepost li,
.v8_linebg, .v8_linebg:before,
.v3_button:hover,
.ms-layer.v12_sbut1,
.ms-layer.v12_text3 span:before,
.ms-layer.v12_text3 span:after,
.ser2_button1:hover,
.cforms_sty3 .button,
.accor_section3 .kc_accordion_header > span.ui-accordion-header-icon,
.logregform .feildcont .fbut,
.v7_linebg3,
ul.products li.product .onsale,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
div[class*="cons_feature_section"] .button.two,
.cons_feature_section4 .row_box icon:hover,
.tabs7 li.active a,
.med_feature_section1,
.header-1 .navbar .buynowbut,
.nonp_feature_section2 .boxcon,
.nonp_feature_section3 .button.three,
.last-post-layout-7 .datecont,
.port_newsletter .input_submit,
.events-layout-1 .box .right .date,
.master-slider-main-widget .ms-anim-layers .ms-btn.nonp_sbut1:hover,
.master-slider-main-widget .ms-anim-layers .ms-btn.med_sbut1:hover,
.master-slider-main-widget .ms-anim-layers .ms-layer.res_sbut1,
.res_feature_section2 ul.social_icons li,
.res_feature_section9 .bookatable-form .res_button4,
.v10_tabs_slider_owl .right,
.v8_feature_section2 .right,
.top_header .right a.but,
.v6_feature_section1 .box:hover icon, 
.v6_feature_section1 .box.active icon, 
.v6_feature_section1 .box:hover i, 
.v6_feature_section1 .box.active i,
.v7_feature_section2 .box:hover icon, 
.v7_feature_section2 .box.active icon, 
.v7_feature_section2 .box:hover i, 
.v7_feature_section2 .box.active i,
.ms-layer.v8_sbut1,
.cons_feature_section4 .row_box .active icon, .cons_feature_section4 .row_box .active i,
.pricing-layout-6 .pricing-tables .but_small3:hover
{
	background-color: {color};
}


.v3_feature_section5,
.v3_feature_section8,
.page-demo-version-12 .newsletter,
.cons_feature_section11,
.pricing-layout-5 .pricing-table-5 .pri_but_small1:hover{
	background-color: {color} !important;
}

.v4_feature_section1 .v4_one_third:hover, .v4_feature_section1 .v4_one_third.active,
.v7_feature_section1 .box2,
.v7_feature_section6 .boxright,
.but_small3 span, .but_medium3 span, .but_large3 span,
.pricing-layout-6 .pricing-tables.highlight .but_small3 span,
.pricing-layout-6 .pricing-tables .but_small3:hover span
{
	background-color: {darkercolor};
}


.tpbut.minicart-li:hover a,
ul.nav>li>a:hover.active
{
	color: {brightercolor};
}

ul.nav>li.buynowbut:hover>a{
	background-color: {brightercolor};
}
/*------------------------------------
 # For Primary special element
------------------------------------*/
.v5_feature_section1 .box:hover i, .v5_feature_section1 .box.active i,
.v5_button1:hover, .v5_feature_section1 .box:hover .v5_button1, .v5_feature_section1 .box.active .v5_button1,
.ms-layer.v6_sbut1:hover,
.v8_button2:hover,
.v13_button2:hover, .v14_button2:hover, .v14_button1,
.travel_feature_section5 .date,
.hs_booking_finder .submbut,
.med_button1,
.our-team-layout-7 .box-details,
.med_feature_section7,
.nonp_newsletter,
.wed_feature_section5 .titelbgline,
.wed_feature_section3 .titelbg,
.wed_feature_section1 .cd-timeline-img.cd-picture,
.last-post-layout-7 .datecontbox,
.wed_feature_section9 .framebox,
.wed_button_send:hover,
.music_feature_section3 .leftlinebg,
.music_feature_section8 .button_send,
.music_newsletter .input_submit,
.events-layout-1 .box2 .left .date,
.law_feature_section1 .titelbg i,
.law_button1,
.law_button2:hover,
.law_feature_section8 .button_send,
.host_domain_search,
.host_feature_section1 .one_fourth_less.active, .host_feature_section1 .one_fourth_less:hover,
.host_feature_section6 .boxleft,
.shop_feature_section1 .con a:hover h3,
.last-post-layout-9 .befor,
.shop2_feature_section1 .arrow_box,
.ms-layer.shop2_text5,
.shop2_button1,
.header.header-political,
.master-slider-main-widget .ms-anim-layers .ms-btn.pol_sbut1:hover,
div[class*="poli_feature_section"] .linebg,
.poli_feature_section9 .button_send,
.header-education .logo,
.master-slider-main-widget .ms-anim-layers .ms-btn.edu_sbut1:hover,
.edu_linebg,
.searchcou input,
.edu_newsletter,
.last-post-layout-4 .con
{
	background-color: {color};
}
.host_feature_section6 .boxright{
	background-color: {darkercolor};
}
.feature_section4 .one_fifth i:hover, .feature_section4 .one_fifth icon:hover, .feature_section4 .one_fifth i.active, .feature_section4 .one_fifth icon.active, .feature_section4 .one_fifth.active i, .feature_section4 .one_fifth.active icon,
.v5_feature_section2 i, .v5_feature_section2 icon,
.v6_feature_section6 .button_send:hover,
.v13_feature_section1 .box i, .v13_feature_section1 .box icon,
.v13_button2,
.but_small5, .but_medium5, .but_large5,
.hs_latest_posts b,
.cons_hoz_tabs .kc_tabs_nav > li.ui-tabs-active a,
.med_feature_section1 .one_third_less .left a,
.med_feature_section5 h2,
.med_feature_section5 i,
.testimonial-layout-13 .item i,
.testimonial-layout-14.peopsays .slidesec h6,
.last-post-layout-8 .isboxs b,
.nonp_feature_section2 .non_owl_sliders .button.two,
.testimonial-layout-12 .name,
.ms-layer.wed_text2,
.ms-layer.wed_text3,
.master-slider-main-widget .ms-anim-layers .ms-btn.med_sbut1,
.master-slider-main-widget .ms-anim-layers .ms-btn.med_sbut2,
.master-slider-main-widget .ms-anim-layers .ms-btn.law_sbut2,
.law_button2,
.ms-layer.host_cirbox1,
.ms-layer.host_cirbox1,
.host_feature_section1 .one_fourth_less.active .button.one, .host_feature_section1 .one_fourth_less:hover .button.one,
.ms-layer.host_cirbox1.colored span,
.ms-layer.host_cirbox1.colored em,
.shop_feature_section3 h1 em,
.last-post-layout-5 .arrow_box em,
div[class*="poli_feature_section"] .bigtfont,
.edu_feature_section1 h2.less9 strong,
.edu_feature_section5 .kc-box-counter-3 i,
.v9_feature_section5 i 
{
	color: {color};
}
.des .button:hover,
.des .button:hover *,
.des a:hover{
	color: {color} !important;
}

.master-slider-main-widget .ms-anim-layers .ms-btn.law_sbut2:hover{
	color: #fff;
}
.master-slider-main-widget .ms-anim-layers .ms-btn.med_sbut1:hover{
	color: #fff;
}
.master-slider-main-widget .ms-anim-layers .ms-btn.med_sbut2:hover,
.master-slider-main-widget .ms-anim-layers .ms-btn.law_sbut1:hover,
.master-slider-main-widget .ms-anim-layers .ms-btn.v9_sbut1:hover,
.master-slider-main-widget .ms-anim-layers .ms-btn.sbut3:hover,
.master-slider-main-widget .ms-anim-layers .ms-btn.sbut4:hover{
	border-color: #fff;
}
.master-slider-main-widget .ms-anim-layers .ms-btn.v5_sbut1:hover{
	border-color: #2B2B2B;
}
ul.nav>li.buynowbut>a, .v2_feature_section2 i, .v2_feature_section2 icon,
.feature_section4 .one_fifth i:hover, .feature_section4 .one_fifth icon:hover, .feature_section4 .one_fifth i.active, .feature_section4 .one_fifth icon.active, .feature_section4 .one_fifth.active i, .feature_section4 .one_fifth.active icon,
.v5_feature_section1 .box:hover i, .v5_feature_section1 .box.active i,
.v5_button1:hover, .v5_feature_section1 .box:hover .v5_button1, .v5_feature_section1 .box.active .v5_button1,
.v5_feature_section2 i, .v5_feature_section2 icon,
.ms-layer.v6_sbut1:hover,
.v8_button2:hover,
.our-team-layout-5 .imgcircle:hover,
.v13_feature_section1 .box i, .v13_feature_section1 .box icon,
.v13_button2,
.v13_button2:hover, .v14_button2:hover, .v14_button1,
.v5_feature_section1 .box:hover, .v5_feature_section1 .box.active,
.but_small5, .but_medium5, .but_large5,
.cforms_sty3 .button,
.master-slider-main-widget .ms-anim-layers .ms-btn:hover,
.med_feature_section5 i,
.wed_button_send,
.law_button2,
.law_button2:hover
{
	border-color: {color};
}

.kc-row-container.container .pricing-layout-3 .highlight.one_fourth_less .title h4:before,
.tabs-content7.fullw{
	border-top-color: {color};
}

.ms-tabs.ms-dir-h.ms-align-bottom .ms-thumb-frame-selected .ms-thumb-ol,
.our-team-layout-2 .one_fourth,
.v4_feature_section2 .box-details,
.pricing-layout-2 .highlight,
.ms-tabs.ms-dir-h.ms-align-bottom .ms-thumb-frame-selected .ms-thumb-ol, .ms-tabs .ms-thumb-frame:hover .ms-thumb-ol,
.v12_feature_section2 .boxtwo{
	border-bottom-color: {color};
}

.v4_feature_section4 h1,
.cd-timeline-content .cd-date b:after, div.cd-timeline-content-2 .cd-date-2 b:after,
.shop2_feature_section1 .arrow_box:after{
	border-left-color: {color};
}

.cd-timeline-content .cd-date strong:after, div.cd-timeline-content-2 .cd-date-2 strong:after,
.page_title4 .title h1{
	border-right-color: {color};
}

/*ul.nav>li.buynowbut:hover>a{
	border: 1px solid {brightercolor};
}*/

.pricing-layout-6 .pricing-tables.highlight .title{
	border-top: 3px solid {darkercolor};
    border-bottom: 1px solid #ccc;
}

.wed_feature_section9 .framebox02{
	background: {darkercolor};
}

.owl-our-team .content,
.our-team-layout-7 .box:hover .box-details,
.cbp-l-grid-masonry-projects.works-layout-8 .cbp-caption-activeWrap,
.v9_feature_section2 .box2{
	background-color: rgba({color_rgb}, 0.9);
}

.poli_feature_section3 .box{
	background-color: rgba({color_rgb}, 0.95);
}
.v9_feature_section2 .box3{
	background-color: rgba({color_rgb}, 0.8);
}
.v9_feature_section2 .box4{
	background-color: rgba({color_rgb}, 0.7);
}

.hs_latest_posts .box01:hover, .hs_latest_posts .box05:hover{
	box-shadow: 0px 0px 0px 10px {color};
}

.hs_latest_posts .box03:hover{
	box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
}
.v6_feature_section6 .button_send:hover{
	background-color: #FFF;
}

.pricing-layout-4 .pacdetails.highlight{
	box-shadow: 0px -5px 0px {color};
}
.pricing-layout-3 .highlight{
	box-shadow: 0px 0px 3px 0px rgba({color_rgb},1);
}

.pricing-layout-3 .highlight{
	box-shadow: 0px 0px 3px 0px rgba({color_rgb},1);
}

.footer_v4 .hs_subscribe .enter_email_input{
	border: 1px solid #F3F8FA;
}

