.entry-content ul.products {
	margin: 0px;
}
.woocommerce-page .container .row{
	margin-top: 0;
}

.woocommerce-page #breadcrumb .page-title{
	padding-top: 30px;
}
.woocommerce-page.compact .header+div.container{
	margin-top: 62px;
}

.minicart-reponsive{
	display: none;
}

.minicart-reponsive{
	position: absolute;
}
.minicart-reponsive i{
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
}

.minicart-reponsive .cart-items {
	position: absolute;
	top: 50%;
	left: 18px;
	margin-top: -20px;
	display: block;
	background: #EC699A;
	border-radius: 3px;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding: 0px 5px;
	line-height: 16px;
}

.minicart-reponsive-right{
	top: 28px;
	right: 26px;
}
.compact .minicart-reponsive-right{
	top: 18px;
}
.minicart-reponsive-left{
	top: 28px;
	left: 20px;
}
.compact .minicart-reponsive-left{
	top: 18px;
}
/*-- Cart --*/
.tpbut.minicart-li{
	display: inline-block;
	float: right;
	padding: 31px 0;
	z-index: 9998;
}

.tpbut.minicart-li a{
	color: #FFF;
	margin-right: 20px;
	position: relative;
}
.tpbut.minicart-li a .cart-items{
	position: absolute;
	top: 50%;
	left: 18px;
	margin-top: -20px;
	display: block;
	background: #86c724;
	border-radius: 3px;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding: 0px 5px;
	line-height: 16px;
}

.tpbut.minicart-li:hover a{
	color: #2ecc71;
}

.minicart-li a i{
	font-size: 18px;
	font-weight: bold;
}

.compact .tpbut.minicart-li{
	display: inline-block;
	float: right;
	padding: 18px 0;
}

#highstand_cart{
	background-color: #fafafa;
}


.minicart-li>ul .minicart-wrp{
	float: left;
}

.minicart-li>ul.dropdown-menu{
	top: 50px;
}

#highstand_cart .cart_list.product_list_widget {
	max-height: 360px;
	overflow-y: scroll;
	background: #fff;
	border-bottom: 1px solid #eee;
}

#highstand_cart ul li {
	min-width: 300px;
	padding: 10px 15px!important;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	float: left;
}

#highstand_cart ul li:last-child{
	border-bottom: 0;
}

#highstand_cart ul li.mini_cart_item .remove{
	border-radius: 50%;
	display: inline-block;
	float: right;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 20px;
	top: 50%;
	margin-top: -10px;
}
#highstand_cart ul li.mini_cart_item .remove:hover{
	background-color: red;
	color: #FFFFFF;
}

#highstand_cart ul>li>a {
	width: 28%;
	float: left;
	margin-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	height: 70px;
}

#highstand_cart .cart_list.product_list_widget div {
	float: right;
	width: 72%;
	margin-left: 0;
}

#highstand_cart .cart_list.product_list_widget div a{
	color: #727272;
}

#highstand_cart .cart_list.product_list_widget div a:hover{
	color: #272727;
}

#highstand_cart>p.total {
	padding: 10px 15px;
	float: left;
	width: 100%;
	text-align: right;
}

#highstand_cart>p.buttons {
	display: block;
	width: 100%;
	padding: 0 15px !important;
	margin-bottom: 20px;
	text-align: right;
	clear: both;
	float: left;
}

#highstand_cart .button {
	-moz-user-select: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	color: #282828;
	cursor: pointer;
	display: inline-block;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 1.2px;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	margin-right: 5px;
}

#highstand_cart .button:hover{
	background: #555;
	color: #fff;
	border: 1px solid #555;
}

/*-- Single Product --*/
.single-product .product .images {
	float: left;
	width: 48%;
}

.single-product .product .summary {
	float: right;
	width: 48%;
}

.single-product .product .woocommerce-tabs{
	clear: both;
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	margin-top: 30px;
	float: left;
	width: 100%;
}

.woocommerce-tabs ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	border-bottom: 1px solid #ededed;
	width: 100%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #515151;
	display: inline-block;
	font-weight: 700;
	height: 43px;
	line-height: 43px;
	padding: 0 20px;
	text-decoration: none;
}

.woocommerce-tabs ul.tabs li {
	list-style: none;
	margin: 0 1px -1px 0;
	float: left;
	border-radius: 0;
	border: 0;
	background: none;
	padding: 0;
}

.woocommerce-tabs ul.tabs li.active, .woocommerce-tabs ul.tabs li:hover {
	background: #F62459 none repeat scroll 0 0;
	border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a{
	color: inherit;
	color: #FFFFFF;
}

.woocommerce-tabs .panel {
	float: left;
	margin-bottom: 0px;
	margin-top: 30px;
	padding: 0 30px;
	width: 100%;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 15px;
}

.woocommerce-tabs ul li {
	width: initial !important;
}

.single-product .product .upsells.products, .single-product .product .related.products{
	width: 100%;
	clear: both;
	margin-bottom: 40px;
	float: left;
}

.single-product .woocommerce-tabs{
	margin-bottom: 40px;
}

.single-product .woocommerce-tabs #comments{
	margin-bottom: 0;
}
.woocommerce-product-rating .woocommerce-review-link {
	box-shadow: none;
	margin-right: 5px;
}
.summary.entry-summary .price {
	margin: 15px 0;
}
.summary.entry-summary form.cart .quantity {
	float: left;
	margin-right: 10px;
}
.summary.entry-summary form.cart .quantity input {
	width: 90px;
	border: 1px solid #ddd;
	vertical-align: middle;
	padding: 7px 0px 8px;
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	color: #727272;
}
form.cart button.single_add_to_cart_button {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.2px;
	color: #FFF;
	background-color: #666;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #666;
	white-space: nowrap;
	padding: 11px 12px;
	font-size: 12px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	transition: all 0.3s ease 0s;
	margin-right: 5px;
	height: 40px;
	opacity: 1;
}
form.cart button.single_add_to_cart_button:hover, form.cart button.single_add_to_cart_button:focus {
	background-color: #282828;
	color: #FFF;
}
.summary.entry-summary .product_meta {
	clear: both;
	margin-top: 20px;
	overflow: hidden;
}
.single-product .product_meta .sku_wrapper, .single-product .product_meta .posted_in, .single-product .product_meta .tagged_as{
	float:left;
	width:100%;
	color: #aaa;
}
.single-product .product_meta .sku_wrapper .sku{
	color: #666;
	text-transform: capitalize;
}
span.posted_in a {
	box-shadow: none;
}
.product span.onsale {
	text-shadow: none !important;
	box-shadow: none !important;
	z-index: 1000;
	right: 5%;
	top: 0px;
	background: #f62459;
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;
	border-radius: 0px;
	min-height: 20px;
	margin: 0px;
	opacity: 1;
	border-bottom-left-radius: 3px;
	text-align: center;
	position: relative;
	color: #fff;
}
#tab-reviews #commentform .form-submit .submit {
	text-shadow: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #282828;
	background-color: #FFF;
	display: inline-block;
	margin: 0 5px 0 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #DDD;
	padding: 10px 12px;
	font-size: 11px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	transition: all 0.3s ease 0s;
	position: relative;
	text-decoration: none;
}
#tab-reviews #commentform .form-submit .submit:hover, #tab-reviews #commentform .form-submit .submit:focus {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
}
#tab-reviews #comments {
	border-top: none;
	padding-top: 0;
}
#tab-description p {
	margin-bottom: 20px;
}
.summary.entry-summary .short-description p {
	margin-bottom: 20px;
}
#tab-reviews #review_form #respond {
	padding-bottom: 0;
}
.single-product .product > span.onsale{
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform:translate(-64px,0);
	-moz-transform:translate(-64px,0);
	-ms-transform:translate(-64px,0);
	-o-transform:translate(-64px,0);
	transform:translate(-64px,0);

}
.single-product .price del{
	font-size: 20px;
	color: #ccc;
}
.single-product .price ins,
.single-product .price > .amount{
	background: transparent;
	color: #F62459;
	font-size: 25px;
}
.single-product-share {
	clear: both;
	margin-top: 20px;
}
.single-product-share ul li {
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #ddd;
	width: 40px;
	height: 40px;
	text-align: center;
}
.single-product-share ul li:hover, .single-product-share ul li:focus {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
}
.single-product-share ul li:hover a {
	color: #fff;
}
.single-product-share ul li a {
	padding: 5px 10px;
	display: block;
}
.single-product #breadcrumb {
	margin-bottom: 20px;
}
.single-product .product {
	/*overflow: hidden;*/
}
.woocommerce-message {
	margin-bottom: 20px;
}


/* woo style */
ul.products {
	clear: both;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
ul.products li.columns-3 {
	width: 32%;
	margin-right: 2%;
}
ul.products li.columns-4 {
	width: 23.5%;
	margin-right: 2%;
}
ul.products li.product {
	float: left;
	padding: 0;
	position: relative;
	border: 1px solid #eee;
}
ul.products li.first {
	margin-left: 0;
}
ul.products li.last {
	margin-right: 0;
	margin-bottom: 2%;
}
ul.products li.product .onsale {
	text-shadow: none !important;
	box-shadow: none !important;
	z-index: 100!important;
	left: auto;
	top: 0px;
	right: 0px;
	background: #f62459;
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;
	border-radius: 0px;
	min-height: 20px;
	margin: 0px;
	opacity: 1;
	border-bottom-left-radius: 3px;
	text-align: center;
	position: absolute;
	color: #fff;
}
ul.products li.product a {
	background: none!important;
	text-decoration: none;
}
ul.products li.product .king-product-info  h3.product-title {
	width: 100%;
	margin: 0px;
	font-size: 15px;
	font-weight: 500;
	line-height: 28px;
	padding: 10px 15px 0;
}
ul.products li.product .king-product-info h3.product-title a {
	text-align: left;
	color: #282828;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}
ul.products li.product .price {
	color: #77a464;
	display: block;
	font-size: 0.857em;
	font-weight: 400;
	padding-left: 15px;
	line-height: inherit;
	margin-bottom: 10px;
}
ul.products li.product .price .amount {
	font-size: 15px;
	font-weight: 500;
	color: #f62459;
	display: inline-block;
	margin: 0 0 10px 0;
}
.woo_des {
	display: none;
}
ul.products li.product .product-buttons {
	border-top: 1px solid #EAEAEA;
	background-color: rgba(0,0,0,0.02);
	float: left;
	width: 100%;
}
.product-buttons .product-buttons-box {
	padding: 15px;
	float: left;
	width: 100%;
}
.columns-4 .product-buttons .product-buttons-box{
	text-align: center;
	margin: 0;
}
.columns-4 .product-buttons .product-buttons-box a{
	display: inline-block;
	margin: 0 10px;
	float: none;
}
ul.products li.product .price ins {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	font-weight: 700;
}
ul.products li.product .price del {
	display: inline-block;
	color: inherit;
	opacity: 0.5;
}
ul.products li.product span.price del .amount {
	font-size: 13px;
	font-weight: 400;
	color: #999;
	display: inline-block;
	text-decoration: line-through;
}
.product-buttons .button.product_type_simple, .product-buttons .button.product_type_variable {
	border: none !important;
	padding: 0 !important;
	background: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	color: #666;
	font-size: 12px;
	font-weight: 600 !important;
	padding-left: 1.4em !important;
	text-transform: uppercase;
	position: relative;
}
.product-buttons .button.product_type_simple:before, .product-buttons .button.product_type_variable:before {
	font-family: "fontawesome";
	content: "\f07a";
	position: absolute;
	left: 0;
}
.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
	content: "\f00c";
	font-family: fontawesome;
	margin-left: 0.53em;
	vertical-align: bottom;
}
.product-buttons .added_to_cart {
	display: none !important;
}
.product-buttons .show_details_button {
	float: right;
	font-size: 11px;
	position: relative;
	padding-left: 15px;
	text-align: left;
	padding-top: 1px;
	text-transform: uppercase;
	width: auto !important;
	color: #282828 !important;
	font-weight: 600;
}
.show_details_button:before {
	font-family: "fontawesome";
	content: "\f03a";
	position: absolute;
	left: 0;
	top: 2px;
}
/* Shop */
.content_fullwidth{
	float: left;
    padding: 90px 0;
    width: 100%;
}
.woocommerce #sidebar:before{
	display: none;
}
/*Image Product*/
.product-images .crossfade-images {
	display: block;
	position: relative;
}
.grid .product-images .product-detail-image{
	overflow: hidden;
	position: relative;
	display: block;
}
.grid .product-images .crossfade-images img{

}
.woocommerce-page ul.products li.grid.grid-4{
	width: 23% !important;
	margin-right: 2.65%;
}
.grid.grid-4 .product-images .crossfade-images img{
	min-height: 200px;
}
.grid .product-images .crossfade-images .hover-image{
	height: auto !important;
	width: 100%;
	max-height: 10000px;
}
.product-images .crossfade-images .hover-image{
	opacity: 0;
	max-width: 100%;
	max-height: 100%;
}
.product-images .crossfade-images:hover .hover-image{
	opacity: 1 !important;
}
.product-images .crossfade-images img:hover{
	opacity:0;
}
.product-images .hover-image {
	position: absolute !important;
}
.product-images .crossfade-images img {
	-webkit-transition: opacity 0.5s ease-in-out!important;
	-moz-transition: opacity 0.5s ease-in-out!important;
	-o-transition: opacity 0.5s ease-in-out!important;
	transition: opacity 0.5s ease-in-out!important;
	position: relative;
	z-index: 50!important;
	margin-bottom:0!important;
	max-width: 100%;
}

/*Navigation*/
nav.woocommerce-pagination {
	text-align: center;
	clear: both;
	overflow: hidden;
	padding: 30px 0;
}
nav.woocommerce-pagination ul {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #d3ced2 -moz-use-text-color #d3ced2 #d3ced2;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 0px;
	clear: both;
	display: inline-block;
	margin: 1px;
	padding: 0;
	white-space: nowrap;
}
nav.woocommerce-pagination ul li {
	border: 1px solid #d3ced2;
	display: inline;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	margin-right: 8px;
}
nav.woocommerce-pagination ul li a, nav.woocommerce-pagination ul li span {
	display: block;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	margin: 0;
	min-width: 1em;
	padding: 0.5em;
	text-decoration: none;
	color: #f62459
}
nav.woocommerce-pagination ul li a:focus, nav.woocommerce-pagination ul li a:hover, nav.woocommerce-pagination ul li span.current {
	background: #ebe9eb none repeat scroll 0 0;
	color: #8a7e88;
}
.woocommerce-pagination li a, .woocommerce-pagination li span {
	padding: 10px 15px !important;
}
/* Widget Products */
#sidebar .widget.woocommerce  ul li a{
	float: none;
}
#sidebar .widget.widget_shopping_cart ul li a{
	float: left;
}
/* Widget Price Filter */
aside.widget.woocommerce {
	margin-bottom: 30px;
}
aside.widget.woocommerce.widget_product_categories {
	float: left;
}
.widget.widget_price_filter form {
	clear: both;
}
.woocommerce .widget_price_filter .price_slider {
	margin-bottom: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount {
	font-size: 0.8751em;
	line-height: 2.4;
	text-align: right;
	margin-top: 20px;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
	float: left;
	font-size: 1.15em;
}
.woocommerce .widget_price_filter .ui-slider {
	margin-left: 0.5em;
	margin-right: 0.5em;
	position: relative;
	text-align: left;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #a46497;
	border-radius: 1em;
	cursor: ew-resize;
	height: 1em;
	margin-left: -0.5em;
	outline: 0 none;
	position: absolute;
	top: -0.3em;
	width: 1em;
	z-index: 2;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #a46497;
	border: 0 none;
	border-radius: 1em;
	display: block;
	font-size: 0.7em;
	position: absolute;
	z-index: 1;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #602053;
	border: 0 none;
	border-radius: 1em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
	height: 0.5em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
	top: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: #fff;
	border: 1px solid #D9D9D9;
	height: 20px;
	top: -5px;
	margin-left: -5px;
	width: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.65);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:hover, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:hover{
	box-shadow: inset 0 0 0 2px rgba(255,255,255,.65);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{
	background: #f62459 none repeat scroll 0% 0%;
	box-shadow: none !important;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal{
	height: 6px;
	position: relative;
	background: transparent !important;
	border: none;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0px !important;
	margin: 0 5px;
	width: 91%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range{
	height: 1px;
	top: 5px;
}

.woocommerce-page .widget_price_filter .price_slider_amount .button {
	float: right;
	margin-top:10px;
}
.woocommerce-page .widget_price_filter .price_slider_amount .price_label{
	float:left;
	font-size:14px;
	margin-top:10px;
}
.woocommerce-page .widget_price_filter .price_slider_amount .price_label span{
	font-weight: 400;
	color: #ADADAD;
}


/* Widget Cart List */
.widget_shopping_cart_content ul.cart_list {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.widget_shopping_cart_content ul.cart_list li.mini_cart_item {
	margin: 0;
	padding: 0 0 20px 0 !important;
	position: relative;
	border-bottom: 1px solid #ededed;
	border: none !important;
	display: inline-block;
	width: 100%;
}
ul.cart_list li > a {
	display: block;
	float: left;
	width: 26%;
}
ul.cart_list li > a:hover {
	text-decoration: none;
}
ul.cart_list li img {
	float: left;
	border: 1px solid #e9e9e9;
	padding: 1px;
	margin-left: 0px;
	width: 70px;
	box-shadow: none;
	margin-right: 18px;
}
ul.cart_list li .widget-post-text {
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	width: 72%;
}
ul.cart_list li .widget-post-text h4 {
	margin-bottom: 0;
}
ul.cart_list li .widget-post-text h4 a {
	font-size: 14px;
	font-weight: 500;
	color: #666;
}
ul.cart_list li .widget-post-text .quantity {
	color: #999;
	font-size: 14px;
	margin-bottom: 0;
}
ul.cart_list li .widget-post-text .quantity .amount {
	color: #f62459;
}
ul.cart_list li .widget-post-text a {
	color: #f62459;
	font-size: 13px;
}
.widget_shopping_cart_content .total {
	font-size: 14px;
	padding: 10px 0;
	color: #727272;
	margin-bottom: 15px;
}
.widget_shopping_cart_content .total strong {
	font-weight: 400;
}
.widget_shopping_cart_content .total .amount {
	font-weight: 700;
	color: #727272;
	line-height: 23px;
}
.widget_shopping_cart_content .buttons {
	font-size: 14px;
	line-height: 23px;
	color: #727272;
	margin-bottom: 15px;
}
.widget_shopping_cart_content .buttons .button {
	text-shadow: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #282828;
	background-color: #FFF;
	display: inline-block;
	margin: 0 5px 0 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #DDD;
	padding: 10px 12px;
	font-size: 11px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	transition: all 0.3s ease 0s;
	position: relative;
	text-decoration: none;
}
.widget_shopping_cart_content .buttons a:hover {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
}


/*  Widget Product Category */
ul.product-categories {
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
	float: left;
	margin-top: -10px;
	width: 100%;
	clear: both;
}
.product-categories .cat-item {
	padding: 5px 0px;
}
.product-categories .cat-item:before {
	content: "\f114";
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: 10px;
	opacity: 0.5;
	font-size: 14px;
}
ul.product-categories .children {
	list-style: none outside none;
}
ul.product-categories .cat-item a {
	color: #666;
	font-size: 14px;
}

/* Widget Product List */
.product_list_widget {
	list-style: outside none none;
}
.product_list_widget li {
	border-bottom: 1px solid #ededed;
	padding: 10px 0;
	list-style: outside none none;
	margin: 0;
	width: 100%;
	display: inline-block;
}
.product_list_widget li a img {
	float: left;
	width: 70px;
	border: 1px solid #e9e9e9;
	box-shadow: none;
	margin-right: 18px;
}
ul.product_list_widget li a {
	font-size: 14px;
	font-weight: 500;
	color: #666;
	display: block;
}
ul.product_list_widget li ins {
	background: inherit;
	color: #1a1a1a;
}


/* Widget Filter by attribute */
.widget_layered_nav ul {
	border: 0 none;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.widget_layered_nav ul li {
	list-style: outside none none;
	padding: 0 0 1px;
}
.widget_layered_nav ul li::after, .widget_layered_nav ul li::before {
	content: " ";
	display: table;
}
.widget_layered_nav ul li::after {
	clear: both;
}
.widget_layered_nav ul li a, .widget_layered_nav ul li span {
	padding: 1px 0;
	color: #666;
	font-size: 14px;
}
.widget_layered_nav ul li.chosen a::before {
	color: #a00;
	content: "";
	font-family: WooCommerce;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	margin-right: 0.618em;
	text-decoration: none;
	text-transform: none;
}
.widget_layered_nav_filters ul {
	border: 0 none;
	list-style: outside none none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.widget_layered_nav_filters ul li {
	float: left;
	list-style: outside none none;
	padding: 0 1px 1px 0;
}
.widget_layered_nav_filters ul li a {
	text-decoration: none;
}
.widget_layered_nav_filters ul li a::before {
	color: #a00;
	content: "";
	font-family: WooCommerce;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	margin-right: 0.618em;
	text-decoration: none;
	text-transform: none;
}
.widget_layered_nav ul li.chosen a, .widget_layered_nav ul li.chosen a{
	border: 1px solid #13afeb;
	background: #13afeb;
}

/* Product Star Rating */
.star-rating {
	display: block;
	margin: 5px 0;
	float: none;
	overflow: hidden;
	position: relative;
	height: 23px;
	line-height: 23px;
	font-size: 10px;
	width: 56px;
	letter-spacing: 2px;
	font-family: 'FontAwesome';
}
.woocommerce .star-rating:before {
	content: "\f005\f005\f005\f005\f005";
	color: #ADADAD;
	float: left;
	top: 0;
	left: 0;
	position: absolute
}
.woocommerce .star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 24px;
}
.woocommerce .star-rating span:before {
	content: "\f005\f005\f005\f005\f005";
	color: #f62459;
	top: 0;
	position: absolute;
	left: 0;
	letter-spacing: 2px;
}
.woocommerce #review_form #respond p {
	margin: 0 0 10px;
}
.woocommerce p.stars {
	position: relative;
	font-size: 1em;
}
.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5 {
	border-right: 1px solid #ccc;
	box-shadow: none;
}
.woocommerce p.stars a.star-1 {
	width: 2em;
}
.woocommerce p.stars a.star-2 {
	width: 3em;
}
.woocommerce p.stars a.star-3 {
	width: 4em;
}
.woocommerce p.stars a.star-4 {
	width: 5em;
}
.woocommerce p.stars a.star-5 {
	width: 6em;
	border: 0;
}
.woocommerce p.stars a {
	display: inline-block;
	margin-right: 1em;
	text-indent: -9999px;
	position: relative;
	border-bottom: 0 !important;
	outline: 0;
	line-height: 12px;
}
.woocommerce p.stars a {
	color: #dcdcdc;
}
.woocommerce p.stars a:hover, .woocommerce p.stars.selected a.active {
	color: #f62459;
}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after {
	font-family: "FontAwesome";
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.woocommerce p.stars a.star-1:after {
	content: "\f005";
}
.woocommerce p.stars a.star-2:after {
	content: "\f005\f005";
}
.woocommerce p.stars a.star-3:after {
	content: "\f005\f005\f005";
}
.woocommerce p.stars a.star-4:after {
	content: "\f005\f005\f005\f005";
}
.woocommerce p.stars a.star-5:after {
	content: "\f005\f005\f005\f005\f005";
}
.comment-form-rating label {
	margin-right: 10px;
}

/* Shop Product Order By and Display Layout */
.king-product-order > ul {
	float:left;
	margin-bottom:42px;
}
.king-product-order a {
	color:#777 !important;
	font-weight: 400;
}
.order-dropdown {
	float:left;
	width:200px;
	margin:0;
	padding:0;
	height:34px;
	letter-spacing: 1px;
	list-style:none;
	margin-right:10px;
	position:relative;
}
.order-dropdown ul {
	margin:0;
	padding:0;
	list-style:none;
}
.king-product-order .order {
	margin:0;
	padding:0;
	list-style:none;
}
.order-dropdown .current-li {
	border: 1px solid #DDD;
	background:#fafafa;
	display:block;
	height:31px;
	line-height:34px;
	text-indent:13px;
	font-size:12px;
	height:34px;
}
.current-li-content {
	display: block;
	height: 30px;
	overflow: hidden;
	width: 139px;
}
.order-dropdown > li {
	position:relative;
	z-index:999;
}
.order-dropdown ul {
	display:none;
}
.order-dropdown > li:hover > ul {
	display:block;
	position:absolute;
	top:31px;
}
.order-dropdown li ul li {
	height: 30px;
	overflow: hidden;
}
.order-dropdown ul li a {
	width:168px;
	background:#fff;
	border:1px solid #e0e0e0;
	border-top:0;
	display:block;
	height:30px;
	line-height:30px;
	text-indent:13px;
	font-size:12px;
	padding:0;
	padding-right:13px;
}
.order-dropdown ul li a:hover {
	background:#f62459;
	color: #FFFFFF!important;
	text-decoration: none;
}
.order-dropdown ul li a strong {
	font-weight:normal;
}
.king-product-order .order {
	margin-right:10px;
	float:left;
}
.king-product-order .order li a {
	background:#fff;
	border:1px solid #e0e0e0;
	display:block;
	height:34px;
	line-height:34px;
	padding:0 13px;
	padding:0 10px;
}
.order-dropdown > li:after {
	display:block;
	font-family:"FontAwesome";
	content:"\f107";
	z-index:999;
	position:absolute;
	top:0;
	right:0;
	height: 33px;
	line-height: 33px;
	width: 33px;
	text-align:center;
	border-left:1px solid #e0e0e0;
}
.king-orderby-container{
	float:right;
}
.king-product-order .order li a i{
	color: #ddd;
}
.king-product-order .order li a:hover i{
	color: #f62459;
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-arrow-up:before {
	content: "\f062";
}
.king-switch-layout{
	float: right;
	margin-top: -1px;
	width: 88px;
}
.king-switch-layout .fa-th:before, .king-switch-layout .fa-list:before {
	color: #ddd;
}
.king-switch-layout .fa-th:hover:before, .king-switch-layout .fa-list:hover:before,.king-switch-layout .active .fa:before{
	color:#f62459;
}
.king-switch-layout #grid-button{
	float: left;
	width: 40px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	height: 35px;
	line-height: 40px;
}
.king-switch-layout #list-button{
	float: left;
	width: 40px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	height: 35px;
	line-height: 40px;
	margin-left: 8px;
}
.king-switch-layout i{
	font-size: 20px;
}
.king-product-order span.current-li .current-li-content a:hover, .king-product-order .order-dropdown span.current-li a:hover {
	text-decoration: none;
}


/* Related Product */
.related.products > h2 {
	font-size: 21px;
	margin-bottom: 20px;
}
.upsells.products > h2 {
	font-size: 21px;
	margin-bottom: 20px;
}

/* Cart page */
.woocommerce a.remove {
	border: 0 none;
	border-radius: 100%;
	color: red;
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	height: 1em;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	width: 1em;
	box-shadow: none;
}
.woocommerce a.remove:hover {
	background: red none repeat scroll 0 0;
	color: #fff;
}
th.product-remove {
	width: 4%;
}
.shop_table.cart .quantity {
	text-align: center;
}
.shop_table.cart .quantity input.qty {
	width: 90px;
	border: 1px solid #ddd;
	vertical-align: middle;
	padding: 7px 0px 8px;
	text-align: center;
	background: #fff;
}
.shop_table.cart .quantity input.qty:hover {
	border: 1px solid #f62459;
}
.shop_table.cart .product-thumbnail img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.shop_table.cart thead{
	border: 0;
}
.shop_table.cart thead tr th {
	font-weight: bold;
    padding: 20px 0;
    position: relative;
    color: #333;
}
.shop_table.cart tbody tr{
	border-bottom: 1px solid #eee;
}
.shop_table.cart tbody tr:nth-of-type(2n+1){
	background: #f5f5f5;
}
.shop_table.cart tbody tr:nth-of-type(1){
	border-top: 0px solid #5CAE4A;
}
.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
	display: none;
}
.woocommerce-cart table.cart td.actions {
	background: #FDFDFD;
	padding: 10px 12px;
}
#coupon_code {
	height: 37px;
	line-height: 37px;
	width: 130px;
	padding: 0 10px;
	background: #fff;
	color: #727272;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border: 1px solid #d3ced2;
	box-sizing: border-box;
	float: left;
	margin: 0 4px 0 0;
	outline: 0 none;
}
.woocommerce-cart table.cart td.actions .coupon input.button {
	float: left;
}
.woocommerce-cart table.cart td.actions input.button {
	float: right;
}
.woocommerce-page .button{
	text-shadow:none;
	text-transform: uppercase;
	font-weight: 700;
	color: #282828;
	background-color: #FFF;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #DDD;
	padding: 10px 12px;
	font-size: 11px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	transition: all 0.3s ease 0s;
	margin-right: 5px;
	box-shadow: none;
}
.actions .button:hover, .shipping_calculator .button:hover, .cart_totals  .wc-proceed-to-checkout .checkout-button:hover {
	background: #282828;
	color: #fff;
	border-color: #282828;
}
.woocommerce table.shop_table.shop_table_responsive.cart {
	border: 1px solid #ededed;
}
.shop_table.shop_table_responsive.cart .cart_item .product-thumbnail {
	width: 100px;
	height: 100px;
}
.shop_table.shop_table_responsive.cart .cart_item .product-thumbnail a {
	max-width: 100%;
}
.cart-collaterals .cart_totals {
	float: right;
	width: 48%;
	margin-bottom: 50px;
	margin-top: 15px;
}
.cart-collaterals .cart_totals h2{
	font-size: 30px;
	line-height: 40px;
}
.cart-collaterals .cart_totals tr th, .cart-collaterals .cart_totals tr td {
	padding: 10px 12px;
}
.cart-collaterals .cart_totals tr th, .cart-collaterals .cart_totals tr td {
	border: 1px solid #d1d1d1;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
	width: 100%;
}
.shop_table.shop_table_responsive.cart tr th, .shop_table.shop_table_responsive.cart tr td {
	text-align: center;
}
td.product-remove {
	padding: 0 15px !important;
}

/* WooEcommerce Message */
.woocommerce .woocommerce-info{
	border:1px solid #f62459;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	background:none;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 14px;
}
.woocommerce .woocommerce-info:before {
	font-family: 'FontAwesome';
	content: '\f01c';
	margin-right: 5px;
}
ul.woocommerce-error {
	list-style: none;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	background: none;
	padding: 15px 40px;
	margin-bottom: 20px;
	font-size: 14px;
}
ul.woocommerce-error:before {
	font-family: 'FontAwesome';
	content: '\f05a';
	margin-right: 5px;
	float: left;
	margin-top: 4px;
}
ul.woocommerce-error li {
	margin: 5px 0;
	padding-left: 20px;
}
.woocommerce .checkout_coupon {
	border: 1px solid #d3ced2;
	margin: 2em 0;
	padding: 20px;
	text-align: left;
}
.woocommerce .checkout_coupon p {
	margin-bottom: 0 !important;
}
.woocommerce form .form-row {
	margin: 0 0 7px;
	padding: 3px 0;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	float: left;
	width: 47%;
	overflow: visible;
}
.woocommerce form .form-row-last {
	float: right;
}
.woocommerce form input.input-text:hover, .woocommerce form input.input-text:focus {
	border: 1px solid #f62459;
}
.woocommerce form input.button:hover, .woocommerce form input.button:focus {
	background: #282828;
	color: #fff;
	border-color: #282828;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
	width: 100%;
	display: inline-block;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: left;
	width: 48%;
}
.woocommerce form .form-row input.input-text, .woocommerce form .woocommerce-shipping-fields textarea.input-text ,
.woocommerce form .form-row .select2-default {
	border: 1px solid #ddd;
	padding: 8px 12px;
	box-sizing: border-box;
	line-height: 1.4;
	margin: 0;
	outline: 0 none;
	width: 100%;
	background-color: #fff;
	border-radius: 0;
}
.woocommerce form .form-row input.input-text:hover, .woocommerce form .woocommerce-shipping-fields textarea.input-text:hover, .woocommerce form .form-row input.input-text:focus, .woocommerce form .woocommerce-shipping-fields textarea.input-text:focus {
	border: 1px solid #f62459;
}
.woocommerce form .form-row a.select2-choice {
	padding: 8px 12px;
	border-radius: 0;
	box-shadow: none;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: right;
	width: 48%;
}
textarea#order_comments {
	padding: 5px 5px 20px;
}
#order_review_heading {
	margin: 10px 0;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table th {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 12px;
	color: #727272;
	border: 1px solid #d1d1d1;
}
.woocommerce .shop_table.woocommerce-checkout-review-order-table td {
	font-weight: 600;
	font-size: 14px;
	padding: 10px 12px;
	color: #727272;
	border: 1px solid #d1d1d1;
}
ul.wc_payment_methods.payment_methods {
	list-style: none;
}
ul.wc_payment_methods.payment_methods .about_paypal {
	margin-left: 20px;
}
.payment_box.payment_method_bacs p {
	margin-left: 20px;
}
.payment_box.payment_method_paypal p {
	margin-left: 20px;
}
.payment_method_paypal img {
	margin-left: 20px;
}


/* Shop Product Grid */
ul.products li.list {
	width: 100%;
	margin: 0 0 40px;
	padding: 5px;
}
ul.products li.list .product-images .product-detail-image {
	float: left;
	width: 250px;
	margin-right: 30px;
	position: relative;
}
ul.products li.list .product-buttons, ul.products li.list .king-product-info {
	float: right;
	width: 58%;
	margin-right: 2%;
	border: none;
	background: none;
}
ul.products li.list .king-product-info h3.product-title {
	position: relative;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #282828;
	display: block;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 15px;
	text-align: left;
	padding: 12px 0;
}
.woocommerce ul.products li.list .price, .woocommerce-page ul.products li.list .price {
	display: block;
	line-height: 15px;
	margin-bottom: 1.5em;
	text-align: left;
	padding-left: 0;
}
.woocommerce ul.products li .product-buttons-box .show_details_button {
	color: #666 !important;
}
.woocommerce ul.products li.list .product-buttons-box .button:hover, .woocommerce ul.products li.list .product-buttons-box .show_details_button:hover {
	color: #f62459 !important;
}
ul.products li.list .product-buttons .product-buttons-box {
	margin: 0;
}
ul.products li.list .woo_des {
	display: block;
}
/* breadcrumb */
.woocommerce-page #breadcrumb .page-title{
	padding-top: 0;
}
/* widget shopping cart */


/* Widget product search */
.woocommerce-product-search .screen-reader-text {
	display: none;
}
.woocommerce-product-search input.search-field {
	width: 68% !important;
	margin-right: 5px;
	padding: 10px 0 7px 10px !important;
	font-size: 12px;
	color: #666;
	background: #fff;
}
.woocommerce-product-search input.search-field:hover, .woocommerce-product-search input.search-field:focus {
	border: 1px solid #f62459;
}
.woocommerce-product-search input[type="submit"] {
	text-shadow: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #282828;
	background-color: #FFF;
	display: inline-block;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #DDD;
	padding: 10px 12px;
	font-size: 11px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	transition: all 0.3s ease 0s;
	position: relative;
	text-decoration: none;
}
.woocommerce-product-search input[type="submit"]:hover {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
}


/* Widget Filter Layered Nav */
.widget.widget_layered_nav_filters ul li.chosen {
	width: 100%;
	margin-bottom: 5px;
}
.widget.widget_layered_nav_filters ul li.chosen a {
	color: #666;
	font-size: 14px;
}
.widget_layered_nav_filters ul li a::before {
	content: '\f00d';
	font-family: 'FontAwesome';
	color: #f62459;
	font-size: 14px;
}

/* More */
.woocommerce-billing-fields .required {
	color: #f62459;
}
.my_account_orders .order-actions .button {
	padding: 10px 20px;
}
.return-to-shop .button:hover, .return-to-shop .button:focus {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
	text-decoration: none;
}
.price_slider_amount .button:hover, .price_slider_amount .button:focus {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
	text-decoration: none;
}
.my_account_orders .order-actions .button:hover, .my_account_orders .order-actions .button:focus {
	opacity: 0.8;
	background: #282828;
	color: #fff;
	border-color: #282828;
	text-decoration: none;
}
.order_details tr th, .customer_details tr th {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
.order_details tr td, .customer_details tr td {
	padding: 5px 0 5px 10px;
}
.woocommerce > address {
	font-size: 14px;
	line-height: 24px;
	margin-left: 10px;
}
.order-info mark {
	background-color: #f62459;
}
.my_account_orders tr th {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
.my_account_orders tr td {
	padding-left: 10px;
}
.clear {
	clear: both;
}
/* Payment */
.woocommerce #payment, .woocommerce-page #payment{
	border: 1px solid #cecece;
}
.woocommerce #payment ul, .woocommerce-page #payment ul{
	padding: 10px 20px;
	margin: 0;
}
.woocommerce #payment > div, .woocommerce-page #payment > div{
	padding-left: 10px;
}
.payment_method_paypal img{
	max-width: 100%;
	margin: 0;
	max-height: 52px !important;
	vertical-align: middle;
}
.payment_method_paypal a{
	margin: 0 !important;
}
.payment_method_paypal label{
	display: inline;
}
.payment_box.payment_method_paypal p{
	margin: 0;
}
/* Responsive */
@media only screen and (max-width: 1920px){
	.woocommerce-account #content{
		margin: 0 auto
	}
	.woocommerce-account  .woocommerce{
		float: left;
		width: 50%;
	}
}
@media only screen and (min-width: 1170px) and (max-width: 1279px){
	body .product-buttons .product-buttons-box{
		margin: 0 8px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1169px){
	body .product-buttons .product-buttons-box{
		padding: 15px 10px;
	}
	.columns-4 .product-buttons .product-buttons-box a{
		margin: 0;
		max-width: 100%;
	}
	.related.products .product-buttons{
		text-align: center;
	}
	.related.products .product-buttons a{
		float: none;
		display: inline-block;
	}
	#sidebar .woocommerce-product-search input[type="submit"]{
		padding: 5px;
		font-size: 11px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 999px){

	.woocommerce .container,
	.site-content .container {
	    width: 720px;
	    margin: auto;
	}
	#content{
		margin: 0 auto
	}
	body .product-buttons .product-buttons-box{
		margin: 0;
		padding: 15px 12px;
	}
	.columns-4 .product-buttons .product-buttons-box a{
		margin: 0;
		max-width: 100%;
	}
	.related.products .product-buttons{
		text-align: center;
	}
	.related.products .product-buttons a{
		float: none;
		display: inline-block;
	}
}
@media only screen and (max-width: 767px){
	.cart-collaterals .cart_totals{
		width: 100%;
		float: left;
	}
	#content{
		margin: 0 auto;
	}
	.single-product .product .images,
	.single-product .product .summary{
		width: 100%;
	}
	.single-product .product .summary{
		margin-top: 30px;
	}
	.single-product .product{
		position: relative;
	}
	.single-product .product > span.onsale{
		left: auto;
		right: 0;
		z-index: 100;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;

	}
}
@media only screen and (min-width: 640px) and (max-width: 767px){

	ul.products li.product{
		width: 48%;
		margin: 0 4% 20px 0;
	}
	ul.products li.product:nth-of-type(2n){
		margin: 0 0 20px 0 !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px){

	.king-orderby-container{
		float: left;
	}
	.king-product-order>ul{
		margin-top: 20px;
	}
	ul.products li.product{
		width: 100%;
		margin: 0 0 20px 0;
	}
	.product-images .crossfade-images{
		text-align: center;
	}
	.woocommerce-account  .woocommerce{
		float: left;
		width: 100%;
	}
}

@media only screen and (max-width: 479px){
	.woocommerce-account  .woocommerce{
		float: left;
		width: 100%;
	}
	ul.products li.product{
		width: 100%;
		margin: 0 0 20px 0;
	}
	body .order-dropdown{
		width: 145px;
	}
	body .order-dropdown > li:after{
		background: #fafafa;
		border: 1px solid #e0e0e0;
		border-bottom: 0;
	}
	.order-dropdown > li > ul{
		z-index: 100 !important;
		width: 145px;
		border-right: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
	}
	.product-images .crossfade-images img{
		z-index: 0!important;
	}
	.king-product-order>ul.sort-count{
		z-index: 1;
	}
	.king-orderby-container{
		float: left;
	}
	.king-product-order>ul{
		margin-top: 20px;
	}
	.container {
	    width: 290px;
	    margin: auto;
	}
	.woocommerce table.shop_table.cart{
	    width: 100%;
	    float: left;
	    border: 1px solid #ededed !important;
	    border-collapse: inherit !important;
	}
	.woocommerce table.shop_table.cart tbody{
		border-top: 0px solid #5CAE4A;
	}
	.woocommerce table.shop_table.cart tr{ 
	    background: #fff; 
	    border: none;
	}
	.woocommerce table.shop_table.cart th { 
	    background: #333; 
	    color: white; 
	    font-weight: bold; 
	}
	.woocommerce table.shop_table.cart td, .woocommerce table.shop_table.cart th { 
	    padding: 6px; 
	    text-align: left; 
	}
	.woocommerce table.shop_table.cart thead tr { 
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
	}
	.woocommerce table.shop_table.cart tbody tr:nth-of-type(2n){
	    background: #f1f1f1;
	}
	.woocommerce table.shop_table.cart .cart_item td{
	    border: none;
	    border-bottom: 1px solid #eee; 
	    position: relative;
	    padding: 10px 0 10px 50% !important;
	    display: block;
	    width: 100% !important;
	}
	.woocommerce table.shop_table.cart td{
		border: 0;
		border-top: 1px solid #eee;
	}
	.woocommerce-cart table.cart td.actions > input.button{
		clear: both;
		float: left;
		margin-top: 10px;
	}
	.woocommerce table.shop_table.cart .cart_item td:last-child{
		border-bottom: 0;
	}
	.woocommerce table.shop_table.cart tr:last-child td{
		overflow: hidden;
		padding: 20px 10px !important;
	}
	.woocommerce table.shop_table.cart tr:last-child td:before{
		display: none;
	}
	.woocommerce table.shop_table.cart .cart_item td:before { 
	    position: absolute;
	    top: 50%;
	    -webkit-transform:translate(0,-50%);
		-moz-transform:translate(0,-50%);
		-ms-transform:translate(0,-50%);
		-o-transform:translate(0,-50%);
		transform:translate(0,-50%);
	    left: 6px;
	    width: 45%; 
	    padding-right: 10px; 
	    white-space: nowrap;
	    font-size: 12px;
	}
	.shop_table.cart .quantity {
		text-align: left;
	}
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(1):before { content: "Remove"; }
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(2):before { content: "Product thumbnail"; }
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(3):before { content: "Product name"; }
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(4):before { content: "Price"; }
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(5):before { content: "Quantity"; }
	.woocommerce table.shop_table.cart tr.cart_item td:nth-of-type(6):before { content: "Total"; }
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
		width: 100%;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table, 
	.woocommerce .cart-collaterals .cart_totals .shop_table thead,
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody,
	.woocommerce .cart-collaterals .cart_totals .shop_table th,
	.woocommerce .cart-collaterals .cart_totals .shop_table td,
	.woocommerce .cart-collaterals .cart_totals .shop_table tr{
		display: inherit;
	}
	.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox{
		display: inline-block;
		padding-bottom: 9px;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody tr{
		overflow: hidden;
		border: 1px solid #cecece;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody tr:nth-of-type(2n){
		border-top: 0;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody tr th,
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody tr td{
		float: left;
		width: 50%;
		border: 0;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table tbody tr td{
		padding: 20px 0 !important;
	}
	.woocommerce .cart-collaterals .cart_totals .shop_table tr td:before{
		display: none !important;
	}
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
		width: 100%;
	}
	.woocommerce table.shop_table.cart{
		border-collapse: collapse !important;
	}
	.shop_table.cart tbody tr:nth-of-type(1){
		border-top: 1px solid #ededed !important;
	}
}
