/*-------------------Hor----------------------*/

.hs_extra_tab_hor .hor_tabs {
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	padding: 0px;
	margin: 0px;
}
.hs_extra_tab_hor .hor_tabs > li {
	transition-duration: .25s;
	display: table-cell;
	list-style: none;
	text-align: center;
	padding: 20px 20px 25px 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
}
.hs_extra_tab_hor .hor_tabs > li:before {
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition-duration: .25s;
	border-radius: 3px 3px 0 0;
}
.hs_extra_tab_hor .hor_tabs > li:hover:before {
	-webkit-transform: translateY(70%);
	transform: translateY(70%);
}
.hs_extra_tab_hor .hor_tabs > li h5{
	margin: 0;
	padding: 0;
}
.hs_extra_tab_hor .hor_tabs > li.active, .hs_extra_tab_hor .hor_tabs > li.active h5 {
	color: #f1c413;
}
.hs_extra_tab_hor .hor_tabs > li.active:before {
	transition-duration: .5s;
	background-color: white;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hs_extra_tab_hor .tab__content {
	background-color: white;
	position: relative;
	width: 100%;
	border-radius: 3px;
	text-align: left;
}
.hs_extra_tab_hor .tab__content > div {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	list-style: none;
	padding-bottom: 50px;
}
.hs_extra_tab_hor .tab__content > div .content__wrapper {
	text-align: left;
	border-radius: 5px;
	width: 100%;
	background-color: #fff;
	padding-top: 45px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}


/*------------------Ver-----------------------*/
.hs_extra_tab {
	width: 100%;
	margin: 0 auto;
}
.hs_extra_tab ul {
	padding: 0;
	margin: 0;
	float: left;
	background-color:#fff;
}
.hs_extra_tab li a {
	width: 400px;
	text-align: left;
	display:block;
	padding: 27px 45px 21px 35px;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	transition: all 0.3s ease;
}
.hs_extra_tab li a:hover {
	color: #fff;
	background-color: #000;
}
.hs_extra_tab li a h5 {
	font-weight: 600;
	margin-bottom: 5px;
	line-height: 23px;
	display: inline-block;
}
.hs_extra_tab li a i {
	float: left;
	color: #fff;
	margin-top: 10px;
	margin-right: 25px;
}
.tabs_container {
	overflow: hidden;
	position: relative;
	text-align: left;
	padding: 0px 0px 0px 90px;
}

.tabs_container > div {
	margin-right: 0px;
	background-color: #fff;
	padding: 50px;
}
.tabs_container > div p {
	padding-bottom: 100px;
}
.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}
.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.extra_tabs_active {
	background: #272727 !important;
	color: #fff !important;
	background-image:url(../images/right-arrow.png);
	background-position:left;
	background-repeat:no-repeat;
	display: inline-block;
	position: relative;
}

.extra_tabs_active:before {
	border-left: 35px solid #272727;
	border-top: 61px solid transparent;
	border-bottom: 61px solid transparent;
	content: "";
	height: 0;
	right: 0;
	position: absolute;
	right: -35px;
	width: 0;
	top: 0px;
}

.extra_tabs_clear {
	display: block;
	clear: both;
}
.extra_tabs_active h5,
.hs_extra_tab li a:hover h5 {
	color: #fff;
}

.tabs_container .tab_panel h3{
	line-height: inherit;
}
.hs_extra_tab .tabs_container .tab_panel .kc_text_block {
	text-align: left;
}

@media only screen and (min-width: 1000px) and (max-width: 1169px){

	.hs_extra_tab li a {
		width: 380px;
	}


}


@media only screen and (min-width: 768px) and (max-width: 999px){

	.hs_extra_tab li a {
		width: 280px;
		padding: 20px 0px 20px 18px;
	}
	.hs_extra_tab li a i {
		font-size: 22px;
		margin-right: 14px;
	}
	.tabs_container {
		padding: 0px 0px 0px 50px;
	}


}

@media only screen and (min-width: 640px) and (max-width: 767px){

	.hs_extra_tab li a {
		width: 220px;
		font-size: 13px;
		padding: 16px 0px 16px 10px;
	}
	.hs_extra_tab li a i {
		font-size: 18px;
		margin-right: 10px;
		margin-top: 3px;
	}
	.tabs_container {
		padding: 0px 0px 0px 30px;
	}


}

@media only screen and (min-width: 480px) and (max-width: 639px){

	.hs_extra_tab ul {
		float: none;
	}
	.hs_extra_tab li a {
		width: 100%;
		padding: 16px 0px 16px 25px;
		margin-bottom: 5px;
	}
	.tabs_container {
		padding: 0px 0px 0px 0px;
	}
	.extra_tabs_active:before {
		border-left: none;
	}

}

@media only screen and (max-width: 479px){

	.hs_extra_tab ul {
		float: none;
	}
	.hs_extra_tab li a {
		width: 100%;
		padding: 16px 0px 16px 25px;
		margin-bottom: 5px;
	}
	.tabs_container {
		padding: 0px 0px 0px 0px;
	}
	.extra_tabs_active:before {
		border-left: none;
	}
	.tabs_container div {
		padding: 30px;
	}

}
